[2019-03-14 19:45] FabianIsensee commented on #180
No worries! Now that I know what caused my drops in performance I can work around it in the meantime

[2019-03-14 19:55] MichaelDylan77 opened #203 "Deadlock when using AMP with DistributedDataParallel"
I've run into an issue when using AMP with DistributedDataParallel that leads to a deadlock at backward(). I am initializing AMP in the proper order as specified in the docs/example (create models -> move model to GPU -> initialize optimizers -> initialize AMP -> wrap models in DDP) as well as using the `with amp.scale_loss(loss_d, optimizer_d) as scaled_loss:`  syntax for loss scaling/backward. T

[2019-03-14 21:24] mcarilli commented on #203
Are you declaring
[code]

[2019-03-14 21:52] MichaelDylan77 commented on #203
I am indeed specifying the proper device_ids and output_device arguments to DDP.

Yes, when running the same exact same code (including the gradient penalty loss) minus Amp, everything runs fine. Amp also works properly when not using DDP, just running on a single GPU. It is only when Amp and DDP are used that any issues occur

[2019-03-14 21:55] mcarilli commented on #203
Are you calling `torch.cuda.set_device(local rank)` in each process before `torch.distributed.init()`?
If not, it's possible that Amp's casts are somehow sending the tensors to a different device...trying to rule out possibilities here

[2019-03-14 21:58] MichaelDylan77 commented on #203
I'm not calling set_device(). Just manually tracking the local_rank for each process. Does set_device need to be called for Amp to work?

[2019-03-14 22:00] MichaelDylan77 commented on #203
Also, the `CUDA_VISIBLE_DEVICES` environment variable is not being set either

[2019-03-14 22:02] mcarilli commented on #203
Calling `set_device(local_rank)` to set each process's default device just before `torch.distributed.init()`, as in my [example](https://github.com/NVIDIA/apex/blob/master/examples/simple/distributed/distributed_data_parallel.py#L22) is probably worth a try, to ensure that Amp casts aren't mistakenly moving tensors to the wrong device.

[2019-03-14 22:13] MichaelDylan77 commented on #203
Will try that now.

[2019-03-14 22:28] mcarilli commented on #195
It appears atan2 is not on the FP32-ified list (which we call the blacklist), and apparently it should be.  We add things to the FP32-ified list based on experience, so this is extremely valuable feedback.

It sounds like everything you're doing is reasonable.  CPU-side profiling is not going to tell you much because GPU execution is (hopefully) mostly asynchronous.  The CPU-side timings will tell

[2019-03-15 00:39] mcarilli commented on #163
I still don't see how the line `loss2 = ComputeLoss2(model2)` makes sense, because model2 is a model, not an output or anything.  Maybe that's a typo.  But I understand your control flow.  That is tricky to handle with what I have exposed currently (at least in a way that will also allow more general cases like yours).  I'll let you know when I have a solution.

[2019-03-15 01:49] Lausannen commented on #163
Hi, I notice that you have updated your new API, and I want to know when will the GAN example be updated ?

[2019-03-15 12:22] DTennant commented on #194
I'm facing the same issue, hoping you guys can fix this soon..... many thanks!

[2019-03-15 12:24] USTClj opened #204 "Follow the ImageNet example, and always "CUDA" out of memory"
I show my code in:
`
import os
import argparse
import time
import tqdm
import matplotlib
matplotlib.use("agg")
import matplotlib.pylab as plt
import cv2
import torch.cuda
import numpy as np
import torch.nn as nn
import torch.optim as optim
from config.config import GetConfig, COCOSourceConfig, TrainingOpt
from data.mydataset import MyDataset
from torch.utils.data import DataLoader
from models.pose

[2019-03-15 12:35] USTClj commented on #204
For now, I just want to run the code which follows the Imagenet example using `python -m torch.distributed.launch --nproc_per_node=4 train_distributed.py
` and I failed. I have never used Apex package and distribution package. Could someone give me some advice? I want to make use of the 4 GPU on one machine.

[2019-03-15 18:25] jjsjann123 commented on #194
The support should be really easy as we already have channel_last kernels there, that handles the same data stride as with 2 dimensional tensor.
I'll update later today or early tomorrow as soon as I finish my work at hand

[2019-03-15 18:41] MichaelDylan77 commented on #203
Okay. Calling `set_device()` seems to have fixed this problem!

I appreciate your fast reply and your help solving this.

[2019-03-15 19:38] mcarilli commented on #203
Great!  My suspicion is that Amp's casts were sending tensors to the default device for each process (which, without `set_device`, would have been device 0 for all processes).  I think I will continue to recommend `set_device` to other people, since calling `set_device` is also [Pytorch's official guidance for multiprocess training]()https://pytorch.org/docs/stable/distributed.html#launch-utility)

[2019-03-15 19:38] #203 closed

[2019-03-15 19:39] mcarilli commented on #204
Can you post the output of `nvidia-smi` to tell me what kind of GPUs they are and their memory capacities?

[2019-03-15 23:19] jjsjann123 commented on #194
@flymark2010 Sorry for the long wait for such a simple fix (priority issue on my side :/ )
PR with the fix has been issued. Feel free to cherry pick, I'll push for the merge as well.

[2019-03-15 23:56] glample commented on #163
@mcarilli I'm facing a situation where I have a single model, with one embedding layer which is sparse. I have 2 optimizers: one for the sparse embeddings (optimizer_sparse), and one for every other parameter (optimizer_dense).

What I would usually do is:
[code]
Now I would like to do this, but in float16. Could the current API handle this situation?

[2019-03-16 01:40] mcarilli commented on #163
Not quite, as it assumes a backward pass is associated with a particular optimizer.  The old API did as well.  I know how I can support this in the future, as well as @gregjohnso 's case, but I need a few days to implement it.

[2019-03-16 02:04] Lausannen commented on #163
@mcarilli Thank you! I am looking forward for this since it is important in my case

[2019-03-16 09:03] fcharras commented on #198
The issue seems not to occur with the new API, which is also much clearer, I suppose I was misusing the old one.

[2019-03-16 09:03] #198 closed

[2019-03-16 12:02] burnmyletters commented on #150
still have the same error. Try  a full rinse and it didn't help.
Ubuntu 1804
Cuda 9.0
`
torch.__version__  =  1.0.1.post2
running install
running bdist_egg
running egg_info
creating apex.egg-info
writing apex.egg-info/PKG-INFO
writing dependency_links to apex.egg-info/dependency_links.txt
writing top-level names to apex.egg-info/top_level.txt
writing manifest file 'apex.egg-info/SOURCES.txt'
readi

[2019-03-17 01:49] USTClj commented on #204
Hi @mcarilli , thank you for your notice and reply. I have 4 2080Ti on my machine.
`Sun Mar 17 09:47:43 2019
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 418.39       Driver Version: 418.39       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Dis

[2019-03-17 02:03] USTClj commented on #204
My training code warped with Dataparallel of pytorch works fine. And I'm gonna to use the DPP and FP 16 training of Apex package.

[2019-03-17 02:29] USTClj commented on #204
@mcarilli **Update:**
When I run the simple/distributed/distributed_data_parallel.py example, I can see that the load of each GPU is very unbalanced.

[code]

[2019-03-18 06:29] DancingSoul opened #208 "Error occurred when executing loss.backward() in pytorch with distributed training"
[code]
This error occurred when executing loss.backward() in pytorch with distributed training.

It occurs even using only a single gpu while the program runs normally without distributed training.

Have anyone met the same problem with me?

The command I use to start the program is shown follows:
[code]

[2019-03-18 06:55] #204 closed

[2019-03-18 07:09] USTClj commented on #199
+1 Looking forward for simple checkpoint such that we can load the weights and do model prediction directly.

[2019-03-18 09:22] USTClj commented on #199
Hi @mbaharan, could you share your inference example wrapped with `amp` for reference. Thank you.

[2019-03-18 12:47] 1900zyh commented on #179
Hi @Beinabih, I also tried on a GAN example and it runs into 'Gradient overflow. Skipping step, reducing loss scale to xxx' until  i got a float division by zero.

Does skipping step affects the accuracy of model?
Do you have any suggestions on the model to avoid such problem?

Thanks a lot!

[2019-03-18 19:50] mbaharan commented on #199
Hi, the following code is a portion of my project:

[code]
If I don't want to to use `amp.initialize`, I should cast model and inputs manually to half precision.

[2019-03-18 21:53] glample commented on #208
For now PyTorch distributed does not support the case where some parameters are not updated, and I think this is the issue you are facing here. Maybe check that you don't have parameters in your model that never appear in the forward path? Also something simple to avoid the issue can be to hack something like `loss = loss + 0 * sum([x.sum() for x in model.parameters()])` I do it sometimes it's ugl

[2019-03-18 23:05] chenyangyu1988 opened #209 "Support PyPI"
We have an open source project (https://github.com/facebookresearch/pytext/blob/master/requirements.txt) that depends on nvidia apex for mixed precision training. Do we have plan to support pip install apex in the future so that we could include it in our open source project

[2019-03-19 02:28] USTClj commented on #199
@mbaharan Thank you for your sharing.

[2019-03-19 06:27] mcarilli commented on #204
The batch sizes given in https://github.com/NVIDIA/apex/tree/master/examples/imagenet#example-commands assume that your GPU has at least 16GB of onboard memory.  You may have to reduce the batch size to run on your RTX 2080s, which have 11GB of onboard memory.  For example, try a batch size of 128 instead of 224 for opt_level O1 and O2.

[2019-03-19 06:33] mcarilli commented on #163
Deduplicating to #179

[2019-03-19 06:33] #163 closed

[2019-03-19 07:02] mcarilli commented on #179
Working on enabling more flexible loss scaling that should accommodate all the cases I've heard of so far https://github.com/NVIDIA/apex/commit/5e55200404f721d54a1ac1f82877addfe425f31a.  This week is GTC and I have a talk to give, so my aim is to have the fixes in by next week.

[2019-03-19 08:29] dwaydwaydway opened #210 "AttributeError occurred at amp.scale_loss"
## Problem
I tried using amp, and this error occurred
[code]
This is my code
[code]
## Environment
* python version : 3.7.1
* pytorch 1.0.1
* conda version : 4.6.8
* CUDA version: 10.0
* CUDA driver version: 410.48
* GPU: GeForce RTX 2070

Did I installed it incorrectly?
[code]

[2019-03-19 08:56] USTClj commented on #204
@mcarilli Thank you for your reply. Problem has already been solved. Forgive me for knowing nothing about distributed training before.

[2019-03-19 18:32] Beinabih commented on #179
Hey @1900zyh , for me it works following [the amp guide](https://nvidia.github.io/apex/amp.html#) and using Conservative Mixed Precision and initializing it this way:
` [model1, model2], [optim1, optim2] = amp.initialize([model1, model2], [optim1, optim2],...) `

Fast Mixed Precision still overflows until float division.

[2019-03-20 03:27] 1900zyh commented on #179
Thanks a lot @Beinabih. I initialized the models and optimizers in the suggestion way, however, I'm still suffering from gradient overflows using conservative mixed prevision (opt_level=O2). Do you have any other suggestions?

Thanks again!

[2019-03-20 07:04] AaronHeee opened #211 "cosine calculation result > 1, when using HalfTensor vectors in pytorch"
When using `torch.nn.functional.cosine_similarity` to calculate the cosine similarity between vector `a` and `b`, we found the result is larger than 1 leading to errors in BCE loss calculation.

### Test vectors:
[code]

### Result on torch.FloatTensor:
`torch.nn.functional.cosine_similarity(a, b) ` = 0.9996

### Result on torch.HalfTensor:
`torch.nn.functional.cosine_similarity(a.half(), b.half()

[2019-03-21 01:02] hubutui commented on #209
Hey, I realize that there is a package named apex in PyPI, https://pypi.org/project/apex/. A name changing might be needed. Any plan?

[2019-03-21 01:12] hubutui opened #212 "-D_GLIBCXX_USE_CXX11_ABI=0 cflags?"
Hi, I wonder how to set `-D_GLIBCXX_USE_CXX11_ABI=1` when building apex. I got this error when using syncbn:
[code]
and then I got:
[code]
It is said related to `-D_GLIBCXX_USE_CXX11_ABI` according to [this post](https://discuss.pytorch.org/t/undefined-symbol-when-import-lltm-cpp-extension/32627).
Also, I check ABI by:
[code]
A solution to this is compile apex with `-D_GLIBCXX_USE_CXX11_ABI=1`. So

[2019-03-21 02:10] leezonpen opened #213 "Load pretrain model"
Hi, I use DDP() and the load checkpoint. It seem like that the parameters didn't work. Should i put loading checkout before DDP()? Or need i broadcast model parameters loaded from pretrain-model?

[2019-03-21 12:11] Lausannen opened #214 "Install error when compile the lib"
Hi, when I try to build the newest version apex, I met some error like the following info.
**_" python -u -c "import setuptools, tokenize;__file__='/tmp/pip-req-build-hq7t6roo/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" --cpp_ext --cuda_ext install --record /tmp/pip-record-ic8t29gs/install-record.txt --s

[2019-03-21 12:42] mahped commented on #130
I have the same problem only difference is torchs version:
[torch : '1.0.0a0+8601b33'](https://devtalk.nvidia.com/default/topic/1041716/jetson-agx-xavier/pytorch-install-problem-solved-/post/5284880/#5284880)

This is a special version of Pytorch developed by NVIDIA for Jetson Xavier. I cannot install Pytorch version 1.0 on this type of hardware.
Can I install apex on aarch64 hardware at all?

[2019-03-21 15:40] swanhtet1992 commented on #150
I got exactly the same error as @burnmyletters

ubuntu: `18.04.2 LTS`
nvcc version: `Cuda compilation tools, release 9.1, V9.1.85`
torch version: `1.0.1.post2`

[2019-03-21 15:45] j6e commented on #212
I have the same issue

[2019-03-21 16:16] Lausannen commented on #214
I think I have found the problem. It caused by the wrong CUDA version since my server has multi-CUDA versions. So when I changed CUDA path in .bashrc, apex could be compiled.

[2019-03-21 16:17] #214 closed

[2019-03-21 16:52] ngimel commented on #150
Are you using a relatively fresh apex clone? It should contain 1be97cc commit

[2019-03-21 19:41] zplizzi commented on #179
@1900zyh conservative mixed precision is O1, not O2.

[2019-03-21 20:52] zplizzi opened #215 "torch.autograd.grad()"
I'm using a gradient penalty, something like the following:

[code]

This results in the error `RuntimeError: expected type torch.cuda.FloatTensor but got torch.cuda.HalfTensor` on the `.backward()` call, in either O1 or O2 mode (but not O0 or O3). When I remove the gradient penalty, the code runs fine in all modes. I'm running on a single GPU.

Is this expected? If so, is there a suggested altern

[2019-03-21 21:10] zplizzi commented on #215
I discovered that this issue only occurs when batch normalization is used in the model. Otherwise it runs without any errors.

[2019-03-21 22:52] mcarilli commented on #215
Can you post the full backtrace of the errors you see?

[2019-03-21 22:53] mcarilli commented on #209
I'd like apex to be pip installable in the future, maybe we'll have to call it "nvapex" or something.  I probably won't be able to work on that for a month or so though, I still have a number of fundamental features to implement like opt-level-aware checkpointing and supporting arbitrary combinations of optimizers/models/losses.

[2019-03-21 22:58] zplizzi commented on #215
Sure, here it is. I'm training a GAN, but I think this is separate from the issues of loss scaling noted elsewhere.

I can work on making a minimal example if that would be helpful.

[code]

[2019-03-21 23:01] mcarilli commented on #214
I'm currently adding logic to the setup.py that will print a warning if the version of Cuda that's being used to compile the extensions is different from the version of Cuda that was used to compile the Pytorch binaries present on your system, which should help catch cases like this.

[2019-03-21 23:12] mcarilli commented on #150
This particular error spew, whenever we see it, consistently means that somehow cuda 9 is being told to compile `<torch/extensions.h>`, which it must attempt if `extensions.h` appears in any of the `csrc/*.cu` files.

As @ngimel says, for versions of Apex after https://github.com/NVIDIA/apex/commit/1be97ccea062e8c42c2bc8102d2b56f05ea8d4f5, `extensions.h` should not be included in any of the `csrc/

[2019-03-21 23:20] zplizzi commented on #215
[Here's](https://gist.github.com/zplizzi/3d8420152fd1eb5b815d9c78d4800fd6) a minimal example that throws the same error.

[2019-03-21 23:24] mcarilli commented on #215
It's quite possible your error doesn't have to do with the gradient penalty, but the batchnorm alone, in particular, frozen batchnorm.
https://github.com/NVIDIA/apex/issues/133 (bn with affine=False, should be ok now)
https://github.com/NVIDIA/apex/issues/122 (bn in eval)

[2019-03-21 23:40] zplizzi commented on #215
Hmm, I'm not in eval() model, or using affine=False.

[2019-03-21 23:59] mcarilli commented on #215
I think I know what's happening.  This is a nice one...
With both O1 and O2, batchnorm weights are kept in FP32, which is a requirement to enable cudnn batchnorm.  In O1 batchnorm weights remain FP32 because all weights remain FP32.  In O2 batchnorm weights remain FP32 because we explicitly special-case keeping batchnorm weights in FP32, while the rest of the model weights are cast to FP16.  Cudnn

[2019-03-22 00:15] mcarilli commented on #130
Since 1.0, <torch/extensions.h> is the canonical header file containing pybind11 stuff that can create Python bindings for C++/Cuda extensions, like those used by Apex.  I have no idea if the special version of Pytorch you pulled has the ability to allow C++/Cuda extensions.  Where did you get your special version from?

In the meantime, you can try a Python-only install
[code]
Amp should still wo

[2019-03-22 00:50] mcarilli commented on #212
What's your build environment?
gcc, cuda, OS, version of pytorch?
According to that same issue, https://discuss.pytorch.org/t/undefined-symbol-when-import-lltm-cpp-extension/32627/4, the pytorch extension builder should be setting that environment variable for you in Pytorch 1.0 and later.

[2019-03-22 02:39] hubutui commented on #212
@mcarilli I'm trying to package apex for ArchLinux. So, I'm using gcc 7, cuda 110.0.130, cudnn 7.5.0.56, Arch Linux, pytorch 1.0.1. According to ArchLinux's PKGBUILD https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/python-pytorch#n107, pytorch is build with `-D_GLIBCXX_USE_CXX11_ABI=0` which is the pytorch's default behavior. I modified `/usr/lib/python3.7/site-packa

[2019-03-22 08:54] mahped commented on #130
Thank you for the prompt reply and for your insight.

To answer your question, some people in NVIDIA wrote [this version](https://devtalk.nvidia.com/default/topic/1041716/jetson-agx-xavier/pytorch-install-problem-solved-/post/5284880/#5284880) for jetson Xavier (aarch64 CPU).

Python-only install works but speed is important for me so I need to try the C++ extension.

Meanwhile, I found out this e

[2019-03-22 17:12] mrgloom commented on #150
With
`sudo pip3 uninstall apex; git clone https://github.com/NVIDIA/apex.git; cd apex; python setup.py install --cuda_ext --cpp_ext`

Get errors like:
[code]

[2019-03-22 17:50] mcarilli commented on #213
The [imagenet example](https://github.com/NVIDIA/apex/tree/master/examples/imagenet) shows checkpointing with DDP, maybe that will help.  I'm working on giving Amp more thorough support for opt_level-aware checkpointing, and I will create some more focused examples in the process.  I probably won't get a chance to work on this until the end of next week, though, because I have other features to im

[2019-03-22 17:55] mcarilli commented on #210
I don't see a call to amp.initialize in your code above (see [here](https://nvidia.github.io/apex/amp.html#opt-levels-and-properties) and [here](https://nvidia.github.io/apex/amp.html#apex.amp.initialize).

_amp_state.opt_properties should be created during amp.initialize.  If you are invoking amp.initialize somewhere earlier in your script, and still seeing this problem, then it's likely there's

[2019-03-22 17:58] mcarilli commented on #211
Seems to me like this is an operation that should definitely be carried out in float.  I'm about to travel but I will try putting this on the FP32 lists early next week.

[2019-03-22 18:01] mcarilli commented on #202
What's your environment?  (Torch version, Cuda version, Linux version)

[2019-03-22 18:14] mcarilli commented on #150
@mrgloom Are you also using cuda 9.0 or cuda 9.1?

[2019-03-22 18:19] dwaydwaydway commented on #210
Just realized that I put ```amp.initialize``` in a function that wasn't called before the function above, sorry for the stupid question.
Now that the code is running, I found that at the start of the training, ```Gradient overflow.  Skipping step, reducing loss scale to <a number>``` occurred. What does that mean? Is that something I need to worry about?

[2019-03-22 18:27] Rhuax commented on #202
Torch version: 1.0.1.post2
Cuda version: 10
Driver: 415.27
OS: Ubuntu 18.04.2 LTS

[2019-03-22 21:07] mcarilli commented on #210
Yes, with dynamic loss scaling, it’s normal to see this message near the beginning of training and occasionally later in training.  This is how amp adjusts the loss scale: amp checks gradients for infs and nans after each backward(), and if it finds any, amp skips the optimizer.step() for that iteration and reduces the loss scale for the next iteration.

[2019-03-22 21:30] zplizzi commented on #215
Thanks for the careful analysis! Your suggestion of registering batch norm as a fp32-only layer for O1 does seem to have fixed the issue.

[2019-03-22 21:30] #215 closed

[2019-03-23 11:31] burnmyletters commented on #150
I did a fresh git clone. Still, I have the same issue like @mrgloom

[2019-03-23 20:06] mrgloom commented on #150
[code]
cuda 9.* is the problem?

[2019-03-23 20:20] burnmyletters commented on #150
Updating CUDA to 10+ version fixed the problem.

[2019-03-23 22:15] mrgloom commented on #150
Yes, it's compiled with CUDA 10.1

[2019-03-23 22:46] mrgloom commented on #150
But looks like I still have I problem:
[code]

What is recommended way of installing pytorch?

[2019-03-24 11:13] hubutui commented on #150
@mrgloom If you install pytorch in conda environment, you need to make sure that apex is compiled with the same version of cuda that conda install. check cuda version in conda envrionment by
[code]
then compile apex with
[code]
make sure to remove `build` dir before recompiling.

[2019-03-24 14:10] dwaydwaydway commented on #210
Thanks for answering, I also noticed that when I switch from O1 to O2, an error would occur when validating data (works fine in training stage)
[code]
how do i fix this error?

[2019-03-25 03:51] moskomule commented on #214
Hi, I have probably the same problem with you but I don't think the cuda is not wrong.

[code]

[2019-03-25 04:52] moskomule commented on #214
Update: Without using `tmux`, I could install `apex`.

It works with AMP but warns as `Warning:  multi_tensor_applier fused unscale kernel is unavailable, possibly because apex was installed without --cuda_ext --cpp_ext. Using Python fallback.  Original ImportError was: ImportError('/opt/.miniconda/lib/python3.7/site-packages/amp_C.cpython-37m-x86_64-linux-gnu.so: undefined symbol: __cudaPopCallCo

[2019-03-25 07:02] Lausannen commented on #214
@moskomule I think install apex with --cuda_ext --cpp_ext is necessary, I guess this problem is related with your cuda setting. Since in my case, firstly I check my path using "nvcc -V", it is CUDA-9.0 but I found the link in ~/.bashrc is invalid. Maybe you should check this.

[2019-03-25 07:45] drapado opened #220 "Nvidia apex arch linux installation"
I've tried installing apex with CUDA and C++ extensions as the readme says, but it's not being installed in arch linux. Just the python-only build works.

I think the reason is that cuda and cudnn packages are not installed in arch linux in the same directory as in ubuntu.

Any suggestion on how can I solve it?

Thanks!

[2019-03-25 09:07] moskomule commented on #214
Thanks, in case of the warning above, I used `--cuda_ext --cpp_ext` to install and the installation itself seemed to finish successfully. But when running it, the warning above appeared.

[2019-03-25 15:18] mcarilli commented on #199
I recently made the "optimizers" argument to amp.initialize optional.

[2019-03-25 16:00] mcarilli commented on #150
@mrgloom The recommended way of installing Pytorch (for cpp/cuda extensions to work) is that the version of Cuda you have locally (which will be used to build extensions) is the same as the version that was used to build the Pytorch binaries you are installing.   In your case Cuda 10.0 was used to compile the Pytorch binaries, but you have 10.1 locally (which is being used to compile the extension

[2019-03-25 16:06] mcarilli commented on #220
This is likely not an Apex issue, but an issue with pytorch cuda extensions in general.  Can you try the upstream extension tests?
[code]

[2019-03-25 16:13] mcarilli commented on #194
Should be fixed via https://github.com/NVIDIA/apex/commit/0a991543846966d5f586540dc2441e512139e9fc.

[2019-03-25 16:13] #194 closed

[2019-03-25 16:17] #196 closed

[2019-03-25 16:24] mcarilli commented on #210
Are you calling amp.initialize multiple times?  You should only ever need to call it once on your model and optimizer.  I believe this is the source of your error.

[2019-03-25 16:55] mcarilli commented on #208
@DancingSoul You may be able to work around by supplying `delay_allreduce=True` to the `apex.parallel.DistributedDataParallel` constructor.  In this case Apex DDP will wait until the end of the backward pass and allreduce all gradients that happened to be created, which means it can handle nondeterministic/different sets of gradients being created in each iteration, **as long as the set of gradien

[2019-03-25 18:03] mcarilli commented on #202
In general, you should only need to call `amp.initialize` once, and pass it the top level model object, or all the top level model objects if you have several (e.g. in your case it appears `attn` and `model` are distinct?).  It also appears your call to `amp.initialize` is passing some things redundantly (ie both the `model` and some of its submodules).  This is definitely not the intended syntax.

[2019-03-25 22:19] mcarilli commented on #214
@moskomule You should make sure to use the pip install command, rather than the setup.py command.  Also, before reinstalling Apex, you need to make sure any old conflicting installs are removed.  Try
[code]

[2019-03-26 03:26] sunshineInmoon commented on #215
@mcarilli Thanks for your analysis! It's OK for my work.

[2019-03-26 08:05] hiyijian commented on #194
I am using latest master and got below issue:
![image](https://user-images.githubusercontent.com/4326958/54980485-d1a48700-4fe0-11e9-8cbe-ed9aa5d5dee4.png)
PS:
self.bn5 = SyncBatchNorm(512)

[2019-03-26 13:08] vaibhav0195 opened #221 "Can not use tensor cores"
Hi ,
I am on an ubuntu machine with a 2080Ti using cuda 10.0,cuddn 7.4, python3.7 ,pytorch1.0.1 and ubuntu 16.04
I converted the model to use the tensorcore using amp module as specified by this example:

https://nvidia.github.io/apex/amp.html

but when i run my python program using the profiler nvprof as specified here
https://devtalk.nvidia.com/default/topic/1047165/how-to-confirm-whether-tensor

[2019-03-26 17:17] mcarilli commented on #221
What was the command line you used to run your script under nvprof?

[2019-03-26 17:19] jjsjann123 commented on #194
Thanks a lot for reporting this @hiyijian. I should have done a better job unit testing this.

Any chance I can have a repro? If it's something not related to 2-dimension tensor, maybe we want to have a new issue and tag me on that one :)

[2019-03-26 17:47] vaibhav0195 commented on #221
/usr/local/cuda/bin/nvprof --kernels compute_gemm --metrics tensor_precision_fu_utilization,tensor_int_fu_utilization python myscript.py

[2019-03-26 21:40] BorisLestsov commented on #129
How did you resolve this issue? I have the same problem.

[2019-03-27 00:47] dave-epstein commented on #192
I played around with the epsilon values and it ended up working fine. Thanks!

[2019-03-27 00:49] dave-epstein opened #222 "GPU usage in DistributedDataParallel?"
Hi,

When I try to run a model across 4 GPUs using the PyTorch launcher and Apex DDP, I see GPU usage like this: https://i.imgur.com/TFCemy8.png

The processes that were spun up on GPUs 1, 2, and 3 are using almost a GB each of space on GPU0. Is this expected behavior? If not, what are some possible culprits?

Thanks!

[2019-03-27 00:58] dave-epstein commented on #222
I was actually loading some parameters onto a model before I set the CUDA current device - sorry about that. Please feel free to delete.

[2019-03-27 01:06] dave-epstein commented on #222
Sorry - the problem was on my end here. I needed to pass map_location to torch.load calls after I set torch.cuda.current_device().

[2019-03-27 01:06] #222 closed

[2019-03-27 01:06] mcarilli commented on #222
No, it's not expected.  There are a couple possible culprits:
1.  Forgetting to call set_device at the beginning of each process (see [this issue](https://github.com/NVIDIA/apex/issues/203#issuecomment-473082702), [relevant line in my simple example](https://github.com/NVIDIA/apex/blob/master/examples/simple/distributed/distributed_data_parallel.py#L22), and also the [torch.distributed.launch](htt

[2019-03-27 01:06] mcarilli commented on #222
Aha, you were typing that just as i sent my comment.

[2019-03-27 01:08] dave-epstein commented on #222
Thank you for the help - you were spot on with both problems!

[2019-03-27 02:48] flymark2010 opened #223 "finetuning from FP32 model"
Hi,
Is that a feasible way to finetuning from a fp32 model in amp mode?  I've tried this but got loss Nan.
My code is written in this way:
[code]
When `use_fp16` is disabled, the loss value keeps normal and converges through the training process.

[2019-03-27 19:14] dave-epstein opened #224 "NaNs after torch.nn.Softmax with Amp O2 model?"
Hey,

In particular, it's this line of code: https://github.com/huggingface/pytorch-pretrained-BERT/blob/master/pytorch_pretrained_bert/modeling.py#L305

After running attention scores through softmax, some (but not all) scores get set to NaN.  I follow the Amp guide pretty much letter for letter in terms of setting up the model, but can post any code you might think is relevant. I had this code t

[2019-03-27 19:35] dave-epstein commented on #192
This actually is still happening on the new API. I'm using DDP for multiple GPUs. How do you suggest debugging this?

[2019-03-27 19:48] cskyan commented on #170
If you were using Anaconda please try `conda install cryptacular` before you install apex. It works for me.

[2019-03-27 22:19] mbaharan commented on #199
Thanks for the update. I will update my code based on that.

[2019-03-28 00:47] solomatov commented on #209
@mcarilli this is so unfortunate. It's a real pain installing all cuda dependencies, and building all this stuff manually.

@chenyangyu1988 if you use pipfile they have a support for git deps, but unfortunately, default build option is python only, and it will complain a lot when you run almost anything.

@mcarilli may be you at least make non python option a default one so that it will be pipfile

[2019-03-28 15:40] arianhosseini commented on #164
I'm getting this error using the FudesAdam with fp16 optimizer. Any idea why?

[2019-03-28 16:01] mcarilli commented on #224
O2 doesn't do any patching at all, and also does not correspond to the thing called "amp" in the old API.  O1 is what corresponds to the old thing called "amp".  Do you still see nans with O1?

The softmax forward pass should be benign, since it produces values between 0 and 1 and the underlying Pytorch implementation is pretty smart.  The backward pass may have dynamic range issues because the gr

[2019-03-28 16:29] mcarilli commented on #192
Is this caused by #224, or separate?

[2019-03-28 17:30] Mitko-Kerezov commented on #150
I am facing the same issue it appears. My setup is as follows:
[code]

I have Cuda 9.0 installed:
[code]

Note I'm trying to install from the latest master:
[code]

I've created a [gist](https://gist.github.com/Mitko-Kerezov/5bf0563cb15b2c14bf554a319e228791) with the full output of my attempted installation. I've tried compiling with gcc 6 and 7 respectively but to no avail. I seem to be at a loss

[2019-03-28 17:42] aclyde11 opened #227 "Data parallel error with O2 and not O1"
When using O2, data parallel does not work:
RuntimeError: Expected tensor for argument #1 'input' to have the same device as tensor for argument #2 'weight'; but device 1 does not equal 0 (while checking arguments for cudnn_convolution)

however with O1, everything works just fine.

[code]

[2019-03-28 18:09] mhattingpete opened #228 "Problems using FusedAdam"
I have installed using the guide from the readme with CUDA and C++ extensions in an virtualenv.

[code]

[2019-03-28 18:24] mcarilli commented on #150
We're still trying to reproduce this...nvcc 9.0 seems to work fine in our local builds.  If a container solution is not possible for you, to help me diagnose the issue, can you try commenting out https://github.com/NVIDIA/apex/blob/master/setup.py#L73, recompiling, and posting the gist?

[2019-03-28 18:30] xyzacademic opened #229 "Runtime error of PRelu"
When I use nn.PReLU(num_parameters=1, init=0.25), it gives me an error

return torch.prelu(input, weight)
RuntimeError: expected scalar type Half but found Float

My apex setting is
with self.amp_handle.scale_loss(loss, self.optimizer) as scaled_loss:
                    scaled_loss.backward()
I tried to set weight.type_as(input), but it does not work.
Is anybody can help me to fix this problem? I

[2019-03-28 18:47] mcarilli commented on #229
It looks like you're using the deprecated API.  You should move to the new API as soon as possible, and be sure to call `amp.initialize()` on your model and optimizer before attempting to call `with amp.scale_loss...`
https://nvidia.github.io/apex/amp.html
https://nvidia.github.io/apex/amp.html#transition-guide-for-old-api-users
This may resolve your issue.

[2019-03-28 18:56] dave-epstein commented on #192
I'm honestly unsure. I'm now using FusedAdam and running that through amp.initialize, but the loss scale stays at 65536 and never goes down. For some reason (related?) the gradients everywhere in the network are NaN, right from the beginning. I'm trying to figure out why the loss scale isn't being updated but is that even where I should be looking?

[2019-03-28 19:06] Mitko-Kerezov commented on #150
@mcarilli thanks for the quick reply

Unfortunately a container is a no go for me. I've commented out line 73 and captured the stdout and stderr again in this new [gist](https://gist.github.com/Mitko-Kerezov/c15db5a8573aee2d656882a8bd87f1db). Hope it helps.

[2019-03-28 19:21] dave-epstein commented on #224
Ah okay, the patching makes sense. I'm not sure but it seems like for now I'm not getting NaN output anymore.

[2019-03-28 19:28] mhattingpete commented on #228
I have now fixed the problem. I was due to when installing apex using:
[code]
It failed to recognize the global-option arguments. So I simply changed setup.py to always use these arguments and then installing using:
[code]

And now it works.

[2019-03-28 19:28] #228 closed

[2019-03-28 19:46] mcarilli commented on #150
One possible source of the issue is that gcc 6 and 7 are [not listed as being compatible with cuda 9.0](https://docs.nvidia.com/cuda/archive/9.0/cuda-installation-guide-linux/index.html#system-requirements), at least not on ubuntu 16.04 (no information is given for 18.04).  In our compilation tests with cuda 9.0, we were using gcc 5.4.0.

To tell nvcc which gcc binary to use, you can add `'-ccbin

[2019-03-28 20:42] xyzacademic commented on #229
Yes, it helps. I reinstall apex and it works.
Thank you.

[2019-03-28 20:42] #229 closed

[2019-03-28 22:55] dave-epstein commented on #192
After some more debugging, I see that overflow is perhaps not being set because all gradients (both model and master weights - which by the way are all in `all_fp32_from_fp32_params` in the `FP16_Optimizer`) are `None` here: https://github.com/NVIDIA/apex/blob/master/apex/amp/scaler.py#L100

Also - I try manually setting a loss scale of 64 (this way, the gradients I observe on the model are not Na

[2019-03-28 23:08] #224 closed

[2019-03-28 23:13] mcarilli commented on #192
FusedAdam originally came in from outside Apex and I had to kind of frankenstein-splice it in.  There's a PR open that implements FusedAdam in a more clean and general way (https://github.com/NVIDIA/apex/pull/197) and I'm currently working on a branch to handle arbitrary combinations of optimizers/models/losses to resolve https://github.com/NVIDIA/apex/issues/179 and related issues (https://github

[2019-03-29 02:23] USTClj commented on #192
I'm **training a CNN model** (modified hourglass network) and meet the similar issue. After balancing the output losses of multi branches, I can train the model in _opt-level O0_ and the output tensor seems normal and correct. But the training will fail once I change to _opt-level O1_. The gradient will overflow (loss scale becomes smaller and smaller and then abnormal like 1e-32 ) and some weight

[2019-03-29 03:33] USTClj commented on #221
Hi, @vaibhav0195, @mcarilli, must we change all the  length (N, C, H, W) of a tensor so that they can be divided by 8 before we can make use of tensor cores?

[2019-03-29 05:48] vaibhav0195 commented on #221
@mcarilli i think just the input and output channels of the conv and the batch sizes should do the trick.

[2019-03-29 08:16] Mitko-Kerezov commented on #150
Okay, I've installed gcc-5 and g++-5 packages, however the versions I got were 5.5.0 for both. I've set the `-ccbin` argument but failed to compile again. Just to be sure I've updated my alternatives so that the global `gcc` and `g++` symlinks were pointing to gcc-5 and g++-5 respectively and tried to compile again.
[This](https://gist.github.com/Mitko-Kerezov/a065b6cab8dbf59edada86bc0b019fc2) is

[2019-03-29 12:31] j6e commented on #212
@mcarilli So in order for apex to build and function I first need to build pytorch with D_GLIBCXX_USE_CXX11_ABI=1 instead of the 0 in the spots you mentioned?

[2019-03-29 14:24] che85 opened #230 "RuntimeError: Found torch.FloatTensor, expected torch.cuda.FloatTensor"
Hi there,

I am just trying apex for the first time and running into the following error:

[code]

Is there anything that I am missing or that I need to take care of?

[2019-03-29 14:55] che85 commented on #230
I think I fixed it. I didn't move the model to cuda by `model.cuda()`

[2019-03-29 14:55] #230 closed

[2019-03-29 15:04] mcarilli commented on #230
Yes, amp requires that your model is cuda.  I should make those error messages clearer.

[2019-03-29 15:14] che85 opened #231 "Segmentation fault"
I'm getting a segmentation fault when trying to train a model with amp.

torch version '1.0.1.post2'
cudnn version 7.4.2

@mcarilli What could cause those issues?

[code]

[code]

[2019-03-29 15:15] dave-epstein commented on #192
@mcarilli Sure. It is training without a hitch using regular Alex. I think there should be an appreciable speedup switching to FusedAdam, though.

[2019-03-29 15:16] che85 commented on #231
I assume that cudnn has to be enabled, right? At least that's what the assertion here is saying

https://github.com/NVIDIA/apex/blob/master/examples/imagenet/main_amp.py#L126

[2019-03-29 15:35] che85 commented on #129
I have the same problem. Don't just close issues without commenting on what happened or what you figured out. That doesn't help anyone.

[2019-03-29 15:43] che85 commented on #129
@BorisLestsov I am not sure which optimizer you are using, but when using the FusedAdam (https://github.com/NVIDIA/apex/blob/master/apex/optimizers/fused_adam.py#L5) it seems to work.

I tried to use Adam from pytorch, but that's when I ran into the above explained issue.

[2019-03-29 16:02] ngimel commented on #150
As you see, you errors are still coming from `/usr/include/c++/6/tuple` so you are still somehow using include files for gcc6. Is it possible for you to update cuda version?

[2019-03-29 17:10] mcarilli commented on #231
Yes, cudnn should be enabled...Also, I got an email saying that you had segfaults coming from Eigen in a Tensorflow site-package so I have no idea what to make of that.

[2019-03-29 17:12] mcarilli commented on #223
I'm working on refactoring the optimizer handling in a way that should support fine-tuning more robustly.

In the meantime, try moving
[code]
BEFORE amp.initialize, maybe that will help.

[2019-03-29 17:14] che85 commented on #231
@mcarilli cudnn is enabled. Regarding the email, I accidentally posted some "old" log messages. That's how it ended up there.

What can I do regarding the issue? Is there a way to get some verbose output from apex?

[2019-03-29 17:15] mcarilli commented on #231
Is it segfaulting within amp.initialize?  Also, is this a single-process run or a multiprocess run?

[2019-03-29 17:19] che85 commented on #231
It happens after initialization during training while calling `optimizer.step()`

I am using 2GPUs

[2019-03-29 17:22] mcarilli commented on #231
To sandbox out potential distributed issues:  does the problem reproduce in a single-process run?

[2019-03-29 17:24] che85 commented on #231
Do you have an example jupyter notebook or script that I could test quick and easy?

I also tried with 1 GPU. The same thing is happening.

[2019-03-29 17:28] mcarilli commented on #231
I've got the [imagenet example](https://github.com/NVIDIA/apex/tree/master/examples/imagenet) and [simple distributed example](https://github.com/NVIDIA/apex/tree/master/examples/simple/distributed), currently working on a GAN example as well...
Do you get a python backtrace, or just a segfault?  Also what optimizer are you using?

[2019-03-29 17:32] mcarilli commented on #221
**Convolutions:**
For cudnn versions 7.2 and ealier, @vaibhav0195 is correct:  **input channels, output channels, and batch size** should be multiples of 8 to use tensor cores.  However, this requirement is lifted for cudnn versions 7.3 and later.  For cudnn 7.3 and later, you don't need to worry about making your channels/batch size multiples of 8 to enable Tensor Core use.

**GEMMs (fully connec

[2019-03-29 17:36] che85 commented on #231
I was playing around with the `FP16_Optimizer ` and that's when it crashes in `optimizer.step()`.

Actually, the segmentation fault is happening when running `scaled_loss.backward()`. I am using pytorch implementation of `Adam`

[2019-03-29 17:45] che85 commented on #231
I am only getting a segfault.

[2019-03-29 17:51] mcarilli commented on #231
Oh, don't use FP16_Optimizer directly, that's deprecated and basically dead code at this point.  Use nothing but the new API:
https://nvidia.github.io/apex/amp.html
and pass the Pytorch Adam optimizer that you construct directly to `amp.initialize`.
For a straight-line model this is all you have to do:
[code]

[2019-03-29 17:52] che85 commented on #231
That's the way I did it. and it's crashing inside of `scaled_loss.backward()`

[2019-03-29 18:04] che85 commented on #231
It's crashing somewhere inside of

[code]

[2019-03-29 18:07] ngimel commented on #231
Can you get backtrace from your coredump?

[2019-03-29 18:32] che85 commented on #231
@mcarilli, @ngimel here the coredump backtrace: https://gist.github.com/che85/5b7989ad11f3d7aacbb85c2174f100e5

Thanks for your help.

[2019-03-29 18:40] che85 commented on #231
Here also the installation output:

[code]

[2019-03-29 18:42] mcarilli commented on #231
@che85 I'm currently in the process of refactoring the treatment of optimizers under the hood, which will also affect the operation of the backward context manager.  I plan to have this merged/publicly usable by Monday.  Can we revisit at that time?

[2019-03-29 18:43] che85 commented on #231
Awesome! Sounds like a plan. Maybe you can just get back to me by the time once done? Thanks a lot

[2019-03-29 18:45] che85 commented on #231
You know what? I think, I just figured it out. I just recompiled it with gcc 5.3.1 (before 4.8.5) and now it's training! If everything works fine, I will just close this issue.

[2019-03-29 18:47] mcarilli commented on #231
Great!

[2019-03-29 18:56] tullie commented on #227
I'm running into the same error for O0, O2, O3:
`RuntimeError: Expected tensor for argument #1 'input' to have the same device as tensor for argument #2 'weight'; but device 1 does not equal 0 (while checking arguments for cudnn_convolution)`

O1 is working as expected.

[2019-03-29 23:01] mcarilli commented on #209
@solomatov I agree, it's a pain dealing with extension build issues as well, which are not specific to apex in particular.  Efforts to make Amp a first-class, generally usable tool (as opposed to a research project) are relatively new and for now mostly a solo effort.  I have a backlog of features that need to be implemented (better support for multiple models/optimizers/losses is what I'm working

[2019-03-30 00:28] solomatov commented on #209
@mcarilli Actually running it without cpp exts didn't slow my model, so that's not that bad. Also, is it true that you plan to integrate everything back into pytorch? Is there a roadmap for this?

Overall, I greatly enjoy apex. My model runs 2 times faster without any additional problems. Thanks for your work!

[2019-03-30 02:06] USTClj commented on #221
@mcarilli  Thank you for your clear explanation.

[2019-03-30 03:25] mcarilli commented on #221
It may also help to set
torch.backends.cudnn.benchmark=True
at the top of your script, which enables pytorch‘s autotuner.  Each time pytorch encounters a new set of convolution parameters, it will test all available cudnn algorithms to find the fastest one, then cache that choice to reuse whenever it encounters that same set of convolution parameters again.  The first iteration of your network wil

[2019-03-30 16:18] jshanna100 commented on #227
Same.

[2019-03-31 02:32] zplizzi commented on #227
Same here.

[2019-03-31 02:57] mcarilli commented on #179
I've got a branch with optimizer handling rewritten to treat arbitrary combination of models, optimizers and losses:  https://github.com/NVIDIA/apex/pull/232.  The user-facing changes are negligible (an additional optional `num_losses` argument to `amp.initialize`, and an additional optional `loss_id` argument to `amp.scale_loss`).

I've got some tests for it now that are passing, but I don't thin

[2019-03-31 19:37] mcarilli commented on #227
In general we strongly recommend `DistributedDataParallel` (either `torch.nn.parallel.DistributedDataParallel` or `apex.parallel.DistributedDataParallel`) over `DataParallel`, because global interpreter lock sharing within a single process is not great for performance.  Currently, I don't test with or claim to support DataParallel.  If you are open to trying DistributedDataParallel, I have a [simp

[2019-04-01 03:42] Retiina opened #235 "Performance about object detection"
Hi, I could not find any detail example about applying AMP to object detection models, e.g. Faster-RCNN, could I ask where I can find the example?

I have also tried to implemente some models, but in object detection the input size is usually not fixed and `benchmark.cudnn.enabled` have to be set as false, but https://github.com/NVIDIA/apex/blob/a8c2b7dd12cd8dc3ceb7137581dd1af90f5ee9d5/examples/im

[2019-04-01 05:30] moskomule commented on #214
Thank you. So far, I found it fails to build on Ubuntu18.04 but success on Ubuntu16.04.

[2019-04-01 07:28] Cverlpeng opened #236 "install"

[2019-04-01 07:31] Cverlpeng commented on #236
use pip install apex, get this error! thanks

[2019-04-01 09:34] okanlv commented on #236
Did you just use `pip install apex` without downloading this repo? Could you write the steps to replicate the problem?

[2019-04-01 09:45] Cverlpeng commented on #236
fellow readme
git clone apex
$ cd apex
$ pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext"
i get this error  in 3 step

[2019-04-01 13:51] aclyde11 commented on #227
@mcarilli  I tried the fix above but it still produces the same error:
`RuntimeError: Expected tensor for argument #1 'input' to have the same device as tensor for argument #2 'weight'; but device 1 does not equal 0 (while checking arguments for cudnn_convolution)`

I will transition to distributed data parallel

[2019-04-01 14:07] zsp1993 commented on #236
according to readme
git clone apex
$ cd apex
$ pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext"
i ａｌｓｏ　get this error in 3 step

csrc/welford.cu(131): error: identifier "__shfl_down_sync" is undefined
              detected during:
                instantiation of "void welford_reduce_mean_m2n(T *, int *, T &, T &, int &, int, int) [with T=at::acc_type<double,

[2019-04-01 16:55] Mitko-Kerezov commented on #150
Thanks @ngimel and @mcarilli
I can confirm that after upgrading to CUDA 10.1 I am able to install without any issues

[2019-04-01 19:13] rwightman commented on #196
@ngimel To confirm, if I'm seeing a performance decrease for a resnext50 network with amp enabled, is it likely due to the mentioned group conv algo selection bug? Dual Turing GPU, Pytorch 1.0.1 Conda install.

My Resnet50 baseline for the same training code is approx 500 ips w/o AMP and 950 ips w/ AMP. ResNext50 is 400 ips w/o AMP and decreases to 260 ips w AMP.

[2019-04-02 13:22] yaceben commented on #235
A dirty trick to get it (partially) working converting/initializing your network and optimizer to amp is modifying the trainer's backward pass to use amp's scaled loss:

[code]

For more details you'll need to read the documentation though...

[2019-04-02 15:21] julianzaidi opened #237 "Gradient accumulation using DistributedDataParallel & AMP"
Thanks to `amp.scale_loss(loss, optimizer, delay_unscale=True)`, `apex.amp` provides a nice solution when user wants to perform gradient accumulation across iterations.

With `delay_unscale=True`, scaling of the loss will be the same during accumulation, which allows the optimizer to perform its `step()` operation, if gradient is not overflowing. However, is it the same behaviour when performing m

[2019-04-02 15:52] Retiina commented on #235
Thanks to your reply. I know how to use apex, but I only want to know the memory and speed gain by applying apex to object detectors. What's more, could you please provide some benchmarks so that I can compare my implementation with the benchmark?

[2019-04-02 16:21] mcarilli commented on #237
With `torch.nn.parallel.DistributedDataParallel` or `apex.parallel.DistributedDataParallel`, the gradient allreduce across processes occurs before any inf/nan checking, so by the time gradients are checked for infs/nans within each process, these gradients are bitwise identical across processes.  Therefore, each process will find the same infs/nans, update its loss scale the same way as all the ot

[2019-04-02 16:21] #237 closed

[2019-04-02 16:24] mcarilli commented on #237
By the way, I'm about to merge a PR that makes delay_unscale=True unnecessary.  delay_unscale will still be supported, but as an optional performance optimization rather than a necessity.  If your code currently works with delay_unscale=True you don't need to change it.

[2019-04-02 16:35] mcarilli commented on #235
That's not a dirty trick, that looks like typical usage to me.  @slayton58 has implemented Amp in Mask-RCNN, and the initial integration was pretty straightforward, just the standard
[code]
O1 worked out of the box, O2 was less stable, so O1 is definitely recommended.
@slayton58 do you have a public example of Mask-RCNN using the new Amp API?

`torch.backends.cudnn.benchmark = True` is purely a pe

[2019-04-02 16:46] slayton58 commented on #235
I have a public PR with the new AMP API against maskrcnn_benchmark (which implements, among other things) faster-RCNN and Mask-RCNN here https://github.com/slayton58/maskrcnn-benchmark/tree/apex_fp16

As @mcarilli mentions, `O1` is much more stable than `O2`, and worked out of the box for me on Mask-RCNN.

Depending on your batch size per-GPU you may be able to get away with `torch.backends.cudnn.

[2019-04-02 16:59] yaceben commented on #235
@mcarilli maybe lazy conversion would be more appropriate ? I was thinking in terms of fully converting the architecture to make full usage of amp (FusedAdam optim, apex.normalization.fused_layer_norm, apex.parallel, etc.)

[2019-04-02 17:22] mcarilli commented on #235
Oh ok, that makes more sense.  I definitely recommend taking it one step at a time starting with the 3-line Amp O1 enablement :)

[2019-04-02 17:37] MaveriQ opened #238 "Overflow in Mixed Precision training"
I am trying to use Apex Mixed Precision training with a mix of convolution and batchnorm layers; but I get overflow error in optimizer.step() till the dynamic scaling goes down to 1.0 and then it stays at 1.0

“OVERFLOW! Skipping step. Attempted loss scale: 1.0, reducing to 1”

I am using the following network

Then I convert the network to mixed precision taking care of the batchnorm:

The last s

[2019-04-02 18:16] mcarilli commented on #238
You're using the old (deprecated) FP16_Optimizer and BN_convert_float APIs, which we no longer support.  Documentation for the new API can be found here:  https://nvidia.github.io/apex/amp.html

Try reinstalling a fresh clone of master
[code]
then modify your code as follows:
[code]
`opt_level="O1"` (which implements mixed precision by patching the torch namespace) is recommended to begin with, bu

[2019-04-02 18:29] MaveriQ commented on #238
Thank you for quick reply. I will install Apex again and get back to you.

I used torch.rand(8,3,2,2) as place-holder for actual input for the network; only for the purpose of this demo. I was getting the same overflow on actual images.

[2019-04-03 03:10] Retiina commented on #235
Thanks to your implementation. I just test the code of Faster-R50-FPN in fp16 precision (default setting, just set `DTYPE` as `float16`), but the memory even larger than FP32, is it normal?
Testing using single TITANX, batch size is 2.
FP32: 2760 MB;
FP16:  3021 MB;

[2019-04-03 15:38] MaveriQ commented on #238
Thank you. Works like a charm! And the new API and documentation is much cleaner and intuitive!

[2019-04-03 15:38] #238 closed

[2019-04-03 15:55] LamDang opened #239 "Make FusedLayerNorm cpu compatible"
Hello,

I hit an issue with FusedLayerNorm raising error when using cpu only.
`RuntimeError: input must be a CUDA tensor (layer_norm_affine at csrc/layer_norm_cuda.cp:148)`

The use case is either:
* Run some unit test in cpu
* Load model in cpu for inference

The issue is already reported [here](https://github.com/huggingface/pytorch-pretrained-BERT/issues/150) but personally I think it would mak

[2019-04-04 01:28] picagrad opened #240 "Nan Loss with O3 opt_level setting"
Hi everyone, first off I gotta say amp has really helped me with some research and thanks to everyone involved!
I've been training a ResNet style network for dogs vs. cats.
Training was successful with all O0,O1,O2, but when I run it using O3 I'm getting nan loss.

I've put in some assert statements to check where the nan first appears, and it seems like it happens after the optimizer step.

My ne

[2019-04-04 02:09] mcarilli commented on #240
Thanks!  It's likely not a mistake on your part, and hopefully not a bug.  O3 is not mixed precision:  by default, it is simply pure fp16 training.  Its purpose is to allow you to experiment with pure fp16, to provide a speed baseline against which O0, O1, O2 can be compared.  Specifying keep_batchnorm_fp32 will help somewhat with stability (and also with establishing a speed ceiling, because it e

[2019-04-04 02:09] #240 closed

[2019-04-04 02:21] picagrad commented on #240
Hi @mcarilli , thanks for your response.

While I understand your answer, I'm not sure how getting nan optimizer step is not a bug, I understand FP16 is less intended for end to end training, and I would understand if my issue was simply training not converging (as was shown here: https://docs.nvidia.com/deeplearning/sdk/mixed-precision-training/).
However the issue here is getting nan step from t

[2019-04-04 02:37] mcarilli commented on #240
It's likely the params started to contain nans after the first step() because the first backward() created some gradients containing nans.  You can check the gradients after backward
[code]
to see if any of those are infs before the call to step().

[2019-04-04 03:08] DancingSoul commented on #208
@glample @mcarilli
Thanks a lot, it solved my problem!

[2019-04-04 03:08] #208 closed

[2019-04-04 04:10] mcarilli commented on #239
I wasn't the author of the apex FusedLayerNorm, and we intended it purely for GPU-side performance benefits during training.  If you must use LayerNorm on the CPU, you should use the built-in Pytorch implementation.  I'm not sure if on the CPU, writing our own custom implementation would provide a significant performance gain anyway.  Can you special case the usage based on whether you're targetin

[2019-04-04 04:12] #231 closed

[2019-04-04 04:23] mcarilli commented on #210
Can I close this?

[2019-04-04 05:28] mcarilli commented on #179
Merged.  As I said earlier, the user-facing changes are negligible:
- a new optional `num_losses` argument to amp.initialize
- a new optional `loss_id` argument to amp.scale_loss
- the `delay_unscale` argument to `amp.scale_loss` should never be necessary anymore, although it is still permissible as a minor performance optimization.

I'm still on the hook to post an actual GAN example, but in the

[2019-04-04 09:51] LamDang commented on #239
Hello @mcarilli,
Yes there are workarounds but it is still very complex to convert models trained on GPU with FusedLayerNorm to a CPU-compatible model with nn.LayerNorm.

So basically as a user I am pretty reluctant to use it since it tie my implementation to run on certain hardware.

I think it would be nice if FusedLayerNorm can follow more closely the vanilla LayerNorm behaviour with possibilit

[2019-04-04 13:08] FabianIsensee commented on #180
Hi, I wanted to step by and ask what the status is. Have you had the opportunity to look into this yet?
Best,
Fabian

[2019-04-04 16:30] mcarilli commented on #212
Typically, you don't have to do anything.  My understanding is that precompiled Pytorch binaries (e.g., what you get from a `pip/conda install torch`) are compiled with D_GLIBCXX_USE_CXX11_ABI=0.
The extension builder tries to check how you installed torch:
https://github.com/pytorch/pytorch/blob/master/torch/utils/cpp_extension.py#L104
`_is_binary_build` should return True if you installed Torch

[2019-04-04 17:40] mcarilli commented on #180
Unfortunately I haven't had a chance to look at this yet.  The first three weeks last month were busy with GTC and in the last couple weeks I was working on enabling Amp to handle arbitrary models/optimizers/losses.  As of yesterday this update is merged (https://github.com/NVIDIA/apex/pull/232).  Check the [updated guidance](https://nvidia.github.io/apex/advanced.html#multiple-models-optimizers-l

[2019-04-04 23:20] #221 closed

[2019-04-04 23:35] mcarilli commented on #179
Not sure if referencing the scattered related issues successfully tagged everyone so @Lausannen @MichaelDylan77 @TDeVries @ando-khachatryan @toemm @jshanna100 @LightToYang

@gregjohnso can you confirm the new changes enable your use case?  Calling `scaled_loss.backward(retain_graph=True)` within one or more of the backward context managers should be permissible/not affect Amp's operation.

[2019-04-04 23:45] mcarilli commented on #239
Our long term plan is to move the FusedLayerNorm code into upstream, so that Pytorch's LayerNorm on the GPU will make use of it automatically.  However, that may take a while, because I've got a backlog of other tasks (Amp checkpointing, better support for fused optimizers, making apex pip-installable).  I would be happy to accept an MR if that helps relieve code divergence in your script.  I thin

[2019-04-05 00:05] solomatov opened #242 "Loading amp model on a machine without cuda"
I train my models on machines with CUDA and GPU. I want to do inference, I want to load them on machines without GPU. Unfortunately, when I do it, there're errors. Pickle isn't able to load apex there. Could you help with how to solve it?

[2019-04-05 00:46] azgo14 opened #243 "Support for Sparse CPU Embeddings in Mixed GPU/CPU model"
Thanks for the great work here. It's really exciting to be able to try out mixed-precision so easily now in PyTorch.

Currently I'm training a GPU image classification model (resnet101) but for extreme classification (~3M classes). My model stores the class weights through a CPU based sparse embedding (`nn.Embedding(num_proxies, embedding_dim, sparse=True)`) where we subsample class weights during

[2019-04-05 03:01] #211 closed

[2019-04-05 03:59] ngimel commented on #211
Note that even computing cosine similarity in float sometimes resulted in values bigger than 1 https://github.com/pytorch/pytorch/issues/18057, it was fixed upstream only recently (see PR links in the upstream issue).

[2019-04-05 08:01] fanyuanqi opened #244 "[runtime error]"add" not implemented for 'torch.HalfTensor'"
when i run b[:, 2] - b[:, 0] in my loss function while b is

'tensor([[336., 189., 345., 231.]], dtype=torch.float16)'

i got this error:

*** RuntimeError: "add" not implemented for 'torch.HalfTensor'

it turns out that torch.float16 +/- torch.float16 while raise this error

how to fix it ?  i got confused

[2019-04-05 08:03] #244 closed

[2019-04-05 08:08] fanyuanqi opened #245 "RuntimeError: "add" not implemented for 'torch.HalfTensor'"
When I run (b[:, 2] - b[:, 0] )   in my loss function while b is
'`tensor([[336., 189., 345., 231.]], dtype=torch.float16)`' ,

I got this error:

`*** RuntimeError: "add" not implemented for 'torch.HalfTensor'
`
It turns out that after using `apex.amp.initialize`, any  ( torch.float16 +/- torch.float16)  will raise this error

How to fix it ? I got confused.

And this is my train code.

[code]

T

[2019-04-05 08:23] fanyuanqi commented on #245
ok I got it.
I should cast any tensor to tensor.cuda() first

[2019-04-05 08:23] #245 closed

[2019-04-05 17:53] mcarilli commented on #243
Amp support for sparse gradients on CPU or GPU seems like a manageable and useful feature.  I won't be able to work on it for a few weeks though.

How are you doing DistributedDataParallel with sparse gradients though?  I don't think Pytorch can allreduce sparse gradients currently (https://github.com/pytorch/pytorch/issues/17369).  As far as I know you'd have to convert them to dense tensors to a

[2019-04-05 18:21] FabianIsensee commented on #180
Great, thank you so much! Let me know if I can help out!

[2019-04-05 18:29] azgo14 commented on #243
Only the resnet featurizer is distributed, each node has their own copy of the full class Embedding (essentially the Embedding itself is not synced). This gives some subtle issues as well like if the overflow happens with the Embedding gradients, then it's possible that not all nodes will overflow at the same time and the loss scale will be different per node.

[2019-04-05 18:52] mcarilli commented on #243
If embedding weights are not kept in sync (ie, not updated with the same allreduced gradients across processes) then it's not true "DistributedDataParallel" training, but if works, great!

Having a different loss scale per node is not something that should ever occur without sparse gradients, because all processes should be inspecting identical post-allreduce gradients to decide whether or not to

[2019-04-05 20:54] azgo14 commented on #243
So I've actually gotten amp to work on my use-case (at least O1) by hacking around to do what you mentioned (`explicitly allreduce the results of each process's inf/nan check`) along with small changes to enable sparse and cpu tensors. Same final results but 30% faster in training (this was with a SE-ResNext101 instead of resnet101) :)

Good sign it's definitely possible with wins in training spee

[2019-04-05 21:13] mcarilli commented on #243
Like I said, I won't be able to devote much time to this for a couple weeks at least.  But there's no harm posting a PR in the meantime to show what diffs enabled your usage, and to serve as a tracker for this issue.  Actually I'd really appreciate seeing what you did.

[2019-04-05 22:52] azgo14 commented on #243
No problem, I'll create a PR with my changes. Need some time to clean it up a little.

[2019-04-06 02:11] Lausannen commented on #179
@mcarilli Sorry for my late reply, I will check the new update when I finish my recent training. Thanks for your awesome work !

[2019-04-06 06:02] mooncake4132 opened #246 "[Windows] "<unnamed>::error" was referenced but not define in SharedMemory"
I'm compiling apex in Windows with:
[code]
and everything was well until nvcc throws an error on the following line:
https://github.com/NVIDIA/apex/blob/e9bbfa591af01168f308ce8e7149252a50a75300/csrc/layer_norm_cuda_kernel.cu#L243-L253
[code]
But the compiler is only generating double and float specialization SharedMemory, so I'm not sure why it's also compiling `SharedMemory <T>` and with what typ

[2019-04-06 14:58] drapado commented on #220
Solved by using the AUR package

[2019-04-06 14:58] #220 closed

[2019-04-06 16:36] HanZhengDe opened #247 "installation failed"
[code]
Hello, apex developer! Follow the above installation process, I can't install successfully. what should I do？Thank you for your help！

[code]

[2019-04-08 01:02] jiacheng-xu commented on #247
similar problem.

  Replacing /v/filer5b/v20q001/jcxu/anaconda3/lib/python3.7/site-packages/apex/parallel/optimized_sync_batchnorm.py
  Replacing /v/filer5b/v20q001/jcxu/anaconda3/lib/python3.7/site-packages/apex/parallel/optimized_sync_batchnorm_kernel.py
  Replacing /v/filer5b/v20q001/jcxu/anaconda3/lib/python3.7/site-packages/apex/parallel/sync_batchnorm.py
  Replacing /v/filer5b/v20q001/jcxu/a

[2019-04-08 05:00] Sieyk opened #248 "[Windows] No decrease in VRAM usage when using AMP"
I have implemented AMP for my model, it appears to be working, but there has been no decrease in VRAM usage for my model. I have tried optimizations "O1" and "O2".

[2019-04-08 09:01] frankang opened #249 "building error"
It gives error when I tried to build from this code for the latest commit:
`pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" .
`
The error details:
[code]
Looks like it's related to the modified variable name so I reverted back to this commit and it was compiled successfully.
https://github.com/NVIDIA/apex/commit/42180bd929639c137706be99c93626da93a36f2e#diff-f

[2019-04-08 11:36] Rhuax opened #250 "Apply apex to an already trained normal model and continue the training"
Can I train a PyTorch model for let's say 4 epochs in a normal fashion while saving the model, and then continue the training by applying amp?

[2019-04-08 12:56] innerNULL opened #251 "The training speed of fp16 mode is not significantly faster than fp32 mode"
Hi, I've just run fp16 and fp32 demo on v100, which supports tensorRT, but from the log, I found the speed per epoch of fp16 and fp32 demo were nearly same, I used single Nvidia v100 GPU for each training job, and here is the log:
* FP32 demo
[code]

* FP16 demo
[code]

[2019-04-08 16:31] mcarilli commented on #247
@HanZhengDe

Looks like g++ can't find the cuda runtime libraries on your system for linking.  Try
[code]
and just in case:
[code]

I have these in my bashrc.

[2019-04-08 16:33] jiacheng-xu commented on #247
I have figured out my problem. Missing Lib path for CUDA and NVCC.

[2019-04-08 16:37] mcarilli commented on #247
@HanZhengDe reopen if this does not fix your problem.

[2019-04-08 16:37] #247 closed

[2019-04-08 17:54] mcarilli commented on #250
I don't know the best way to do this off the top of my head, but I'm taking a detailed look at amp checkpointing (saving/restoring models) this week and next week, and I'll include this on my list of things to support.

[2019-04-08 18:22] dave-epstein commented on #192
@mcarilli Has there been any progress with FusedAdam?

[2019-04-08 18:31] mcarilli commented on #246
Having a default (unspecialized) fallback for the template be something that fails to compile is a C++ trick that @thorjohnsen used to make sure the template is never instantiated with anything other that T=float or T=double.  GCC only throws a warning (not an error) when it sees that the definition of the (hopefully-never-actually-instantiated, but lurking in wait) unspecialized fallback is ill-f

[2019-04-08 19:01] mcarilli commented on #192
Cleaning up FusedAdam was gated on https://github.com/NVIDIA/apex/pull/232 which is now merged.  FusedAdam is my top priority right now because we also need it for internal users.  I'll comment when it's ready to try.

[2019-04-08 19:01] #246 closed

[2019-04-08 19:01] mcarilli commented on #246
reopen if the latest master still fails to build.

[2019-04-08 20:56] dave-epstein commented on #180
I'm also having some trouble with checkpoint loading, though not sure if it's related to this one. After loading a checkpoint the code simply hangs in the training loop indefinitely. When I kill the process, it's always stuck here: https://i.imgur.com/X6QiH3e.png

The code works perfectly fine without the checkpoint resuming. Not sure how to go about debugging, but glad to help in whatever way pos

[2019-04-08 21:13] mcarilli commented on #251
What demo is this?  And what's your environment?

[2019-04-08 21:20] mcarilli commented on #248
I would need to know more details about the model.  Also, what is the current memory usage, and do you see a speedup when going from O0 to O1 and O2?

[2019-04-08 23:55] Sieyk commented on #248
Upon running it again, it seems to be using less VRAM now, however its still not as much as I'd expect from half floats.

VRAM usage goes from 9.7gb to 7.5gb changing from O0 to O2. VRAM usage for O1 is 8gb.

I was under the impression that the difference would be much more than 20-25%. Is this a normal reduction?

[2019-04-09 00:15] mcarilli commented on #249
The relevant change is actually https://github.com/NVIDIA/apex/pull/169, I think.  For versions of Pytorch earlier than https://github.com/pytorch/pytorch/commit/4404762d7dd955383acee92e6f06b48144a0742e#diff-4939bfc2c45f18348424b70304e777a7, IntList is appropriate, and for versions of Pytorch later than https://github.com/pytorch/pytorch/commit/4404762d7dd955383acee92e6f06b48144a0742e#diff-4939bfc

[2019-04-09 01:56] yaodonggggggg opened #253 "UserWarning: Error checking compiler version for c++"
i use
git clone https://github.com/NVIDIA/apex.git; cd apex; python setup.py install --cuda_ext --cpp_ext
to install apex,but when i run a python code,error appears

E:\anaconda3\lib\site-packages\torch\utils\cpp_extension.py:184: UserWarning: Error checking compiler version for c++: [WinError 2] 系统找不到指定的文件。
  warnings.warn('Error checking compiler version for {}: {}'.format(compiler, error))
��Ϣ:

[2019-04-09 05:53] innerNULL commented on #251
Sorry, it seems there's bug in my codes, thank you

[2019-04-09 07:21] frankang commented on #249
Thanks for the info, and below is the log&info,
pytorch version from conda (installed from binary)

log:
[code]

[2019-04-09 09:47] mooncake4132 commented on #246
Thanks for the quick turn-around and the explanation. I'm able to successfully build master now.

[2019-04-09 15:41] mkolod commented on #251
@innerNULL Also notice the warning:

[code]
pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" .
[code]
FP16_Optimizer received torch.cuda.HalfTensor with torch.Size([64, 3, 7, 7])
FP16_Optimizer received torch.cuda.FloatTensor with torch.Size([64])
FP16_Optimizer received torch.cuda.FloatTensor with torch.Size([64])
FP16_Optimizer received torch.cuda.HalfTensor

[2019-04-09 15:43] mcarilli commented on #253
The recommended command to install apex is
[code]
Also, it should be installed in the same environment that it's going to be run.  I've never used Pycharm before so I'm not sure what the best practice is for installing things in Pycharm.

[2019-04-09 16:06] mcarilli commented on #251
With the latest Apex master "FP16_Optimizer" is not used by Amp and should not be used manually (it's dead code only kept around for now because some tests use it).  The latest master is the most stable, and also gets rid of that output spam, so I recommend you update:
[code]

[2019-04-10 00:54] xuyuan opened #254 "sync_batchnorm (python version) doesn't work in FP16"
RuntimeError: expected type torch.cuda.FloatTensor but got torch.cuda.HalfTensor at line
https://github.com/NVIDIA/apex/blob/03100f466145a0de73b79c32d11d58c917b10393/apex/parallel/sync_batchnorm.py#L108

[2019-04-10 01:12] yaodonggggggg commented on #253
thanks！！！

[2019-04-10 01:12] #253 closed

[2019-04-10 03:27] #251 closed

[2019-04-10 03:29] innerNULL commented on #251
Thank you guys，I think I can locate the problem now : )

[2019-04-10 07:40] lemonhu opened #255 "Segmentation fault"
Hi, the problem `Segmentation fault` occurs when I use apex for mixed precision training, the test script is as follows:
[code]
Then I refer to the answer to issue #156 and try to solve this problem. When I execute the following commands in turn. Environment: `CUDA 10.0.30`, `torch-1.0.1.post2-cp37`
[code]
It does not work for me, looking forward to your reply.

[2019-04-10 20:41] #239 closed

[2019-04-11 10:03] avostryakov commented on #236
Can I ask another question: is it possible to install compiled version of apex with pip directly from github? I know that I can run: pip install git+https://github.com/NVIDIA/apex but I'm not sure that it isn't pure python version or with all cpp and cuda compiled code?

[2019-04-11 17:56] mcarilli commented on #254
@jjsjann123 can you follow up when you get a chance?

[2019-04-11 18:04] jjsjann123 commented on #254
@xuyuan Any reason why you are not using the optimized kernel implementation?
You could try that by installing your apex with `--cuda_ext` attached to the end (`python setup.py install --cuda_ext`). That implementation has much better perf and more test coverage :)

I'll take a look later this weekend. Thanks for pinging me on this @mcarilli

[2019-04-11 20:27] xuyuan commented on #254
@jjsjann123 thanks for your suggestion. But the cpp_ext/cuda_ext kernel converge slower than pure python version in my experiments. I am using apex.dist + mixed precision (amp O2) training UNet like model for segmentation.

The error is due to BN is kept in FP32, inputs are FP16.

[2019-04-11 20:35] jjsjann123 commented on #254
Hmmm, the convergence issue sounds strange.
When you say pure python version converges faster, are you talking about torch.nn.BatchNormXd or the pure python implementation in apex?
Are you running the two comparison test in similar setup (same global_batch_size and local mini-batch_size for BN stats)?

[2019-04-11 21:18] gregjohnso commented on #179
@mcarilli will look into it in the next few days. Thanks for the update!

[2019-04-12 09:54] leomao commented on #212
https://github.com/pytorch/pytorch/commit/e0c593eae7679fbf9e08d933f695ba9781b24da2

So the problem is that pytorch is compiled from source but the version string is set binary-formatted manually in the PKGBUILD.
This issue is resolved in the commit above (3 days ago) but not in the pytorch v1.0.1.

I compiled pytorch master from source with cuda/intel-mkl and compiled apex with it.  I can verify t

[2019-04-12 10:12] j6e commented on #212
@mcarilli I use Ubuntu 18.04, CUDA 10, gcc 7.3 and pytorch 1.0.1 (from pytorch anaconda channel). I did not compile pytorch from source. Changing the flag resolved the issue, at least in that environment. I'll try  building pytorch master from source @leomao suggest next week.

[2019-04-12 14:45] mcarilli commented on #255
`python setup.py install --cuda_ext --cpp_ext` is not the recommended install command anymore.  Try
[code]
I updated https://github.com/NVIDIA/apex/issues/156#issuecomment-465301976 to show the new command as well.

[2019-04-14 00:48] dave-epstein commented on #202
Is the "RuntimeWarning: RNN module weights are not part of single contiguous chunk of memory. This means they need to be compacted at every call, possibly greatly increasing memory usage. To compact weights again call flatten_parameters()" error expected?

[2019-04-14 04:56] lemonhu commented on #255
Thanks for your reply. However, when I follow your command, the following error occurs.

/root/anaconda3/envs/pytorch1.0/lib/python3.7/site-packages/pip/_internal/commands/install.py:207: UserWarning: Disabling all use of wheels due to the use of --build-options / --global-options / --install-options.
  cmdoptions.check_install_build_global(options)
Created temporary directory: /tmp/pip-ephem-whee

[2019-04-14 06:04] lemonhu commented on #255
Thank you for your reply, I don't know why it still has the above problems in the environment of `gcc4.8.5`. However, when I upgrade the gcc environment to 4.9.2, re-clone the repository and follow your commands, it works for me.

[2019-04-14 16:01] mcarilli commented on #255
I'm also not sure why gcc 4.8.5 fails, but thank you for the information, I'll remember this if future users have the same issue.

[2019-04-14 16:01] #255 closed

[2019-04-15 17:48] yuchenlin commented on #150
have the same error under the same environment with @Mitko-Kerezov  but I have to use cuda 9.0 instead of 10.1. Is there any way to make it work with ubuntu 18.04 + cuda 9.0?

By the way, I coundn't find any way to install gcc 5.4 like @mcarilli  suggested

[2019-04-15 18:08] jjsjann123 commented on #254
So the issue is that pure python implementation doesn't support fp16 input for fp32 node, which is consistent with PyTorch convention, with the exception that cudnn batchnorm kernels are fine with it.

amp O2 casts everything to fp16 while leaving BN in fp32, but it's expecting CUDNN kernel that could accept fp16 input.
Our cpp kernel does handle the cast during data load, but pure python implemen

[2019-04-15 18:36] rwightman commented on #250
I'm pretty sure if you load existing FP32 weights into your model before AMPing it'll just work. I've done that successfully.

I think that restoring the optimizer state can be problematic, even if it's before initializing AMP (memory fuzzy).

[2019-04-15 19:01] rwightman opened #258 "GPU memory stability switching between train/eval with AMP enabled"
Using a training script that's somewhere between the Imagenet example in this repo and the PyTorch example, I ran into an issue with GPU memory consumption switching between train and eval when AMP was enabled w/ O3.

The model was an SE-ResNet variant. I was using two processes, 1 RTX GPU per process, with APEX DDP. I had the training running with a batch size that gave me a margin that's usually

[2019-04-15 19:08] apsears commented on #250
In NVIDIA/tacotron2, you seem to be able to go from FP16 -> full precision and back with no problem.  OTOH I just ran into an [issue](https://github.com/NVIDIA/tacotron2/issues/62#issuecomment-483231954) where the first few updates wreck the previous loss, wiping out many epochs worth of optimization.  Seems like a Checkpointing issue...

[2019-04-16 06:45] mcarilli commented on #258
I haven't observed this symptom before but it sounds alarming.  In my own resnet example I haven't observed any OOMs when switching between train and eval.  Do you have a minimal repro?  Something that uses the imagenet dataset is fine.

By the way, O3 is not recommended for end to end training.  It is intended to be used only as a performance reference.  O1 is the best thing to try first for conv

[2019-04-16 07:22] npmhung commented on #180
Is there any update yet? I'm running into the same problem and cannot figure out what is causing this.

[2019-04-16 07:38] npmhung commented on #180
Hm. I found a way around by changing the order of init and loading new model.
- amp.init -> load checkpoint: failed
- load checkpoint -> amp.init: success
Hope it's helpful.

[2019-04-16 13:06] ptrblck commented on #180
@FabianIsensee Thanks for the great script to reproduce this issue!
I changed a bit of your original code to be compatible with the latest `apex` version.
You can find the code [here](https://gist.github.com/ptrblck/f3f2810b7febb7c2b8fe3ee7c51494b2).

I trained the models using different seeds from scratch, tested them using
[code]
where I changed `X` to the seeds and got the following standalone

[2019-04-16 13:59] FabianIsensee commented on #180
Hi @ptrblck ,
thank you for your reply! Indeed, the error is gone in your code while it is still present in mine. You are also right by saying it has to do with the initialization (the snippets are modified from your version of the code):

This will result in the problem that I initially described
[code]

This is how you do it in you code. This snipped will give the correct test set results
[code]

[2019-04-16 14:28] rwightman commented on #258
I'll try to get a repro once my current task wraps up. Pretty sure there was a network architecture or hyper-param dependency because I did manage to train a different network without running into the problem last week.

Thanks for the O3 tip.

[2019-04-16 15:12] ptrblck commented on #180
I would generally recommend to first initialize the complete module, call the mixed-precision routines (in this case `amp.initialize`), and then use DDP if desired, as stated in the docs:

I'm a bit careful at giving the complete reason for this issue as I'm still trying to figure out what went wrong and how to prevent the re-occurrence of this issue.

I think your current workflow is a good examp

[2019-04-16 16:19] FabianIsensee commented on #180
Hi,
I am not sure if checkpoint loading should be considered part of `initialize the complete module`. We are not changing the network in any way, all we need to do is load all the parameters (and batch norm running stats). This is not uncommon: It often happens that experimenters want to load some checkpoint during training. Initializing amp over and over again is certainly not ideal and may intr

[2019-04-16 16:59] ptrblck commented on #180
Hi,
you are making valid points about restoring the model during training, and that's an interesting use case!

I assume if you are restoring the model during training, you would also store the optimizer's `state_dict` and reload it?

[2019-04-17 02:32] denru01 commented on #254
I encountered the same issue when using 'O2' opt-level with `mapillary/inplace_abn'.

[2019-04-17 06:39] FabianIsensee commented on #180
Hi,
yes you are right, that I would do as well.
I just think that there is plenty of cases where either net network, the optimizer or both need to be loaded from checkpoints. Initializing amp each time is something that ideally should not be needed. Even if re-initializing several times works, this would be yet another thing one could simply forget to do and wonder why the results are not as expec

[2019-04-17 10:35] glenn-jocher opened #259 "Install Failure on GCP Deep Learning VM"
I created a simple GCP Deep Learning VM:
https://cloud.google.com/deep-learning-vm/

I followed the install directions, and the install failed with errors:
[code]

The Python-only option also failed:
[code]

It would seem like installation on a GCP Deep Learning VM would be one of the tested use cases here no?? If it doesn't work there of all places, where is it intended to work?

[2019-04-17 17:24] rwightman commented on #258
I tried a few more things.
* issue not specific to running in distributed mode
* issue happens in O1, O2, and O3 (didn't try others)
* issue does happen with other models
* issue can be prevented by removing my batch_size multiple on validation

For the last point, I've always employed a 4x multiplier on the batch sized used for validation (compared to train) to speed things along since there are

[2019-04-17 21:26] mcarilli commented on #259
I'm not sure if this issue is specific to apex.  I think you need to make sure your instance has python-dev:
https://github.com/google/python-subprocess32/issues/38
See also
https://medium.com/giscle/setting-up-a-google-cloud-instance-for-deep-learning-d182256cb894
(scroll down to "Installing Tensorflow," which is not directly relevant, but does also say to `sudo apt-get install python3-pip python

[2019-04-17 21:52] mcarilli commented on #249
The IntArrayRef syntax is new-ish and is replacing old IntList syntax.  As I said, our compatibility hack should work for almost every version of Pytorch since 1.0.  Maybe you got unlucky with a version of Pytorch that doesn't fit.  I recommend trying two things:
1.  Use the latest Apex with a newer version of Pytorch (the more recent the better)
2.  If 1. is inconvenient, use the latest Apex, but

[2019-04-17 22:20] mcarilli commented on #248
It depends on the model, and what operations are carried out in half versus float.  Large fully connected layers and convolutions probably benefit most.

[2019-04-17 22:32] mcarilli commented on #258
What this tells me is that the memory consumption for eval is somehow the same as for training, which means Amp may be mistakenly causing a graph to be built during eval as well.  Without Amp, what's the method you're using to ensure that a graph is not built during eval?  For example, are you running under a `with torch.no_grad()` context manager?  Maybe Amp is managing to sneak around that someh

[2019-04-17 22:50] glenn-jocher commented on #259
@mcarilli ah, thanks for the reply! I tried what you said, but they seem to be already installed. For completeness I included all the header information from the VM when it starts up below. These VMs come with PyTorch (and almost everything else) preinstalled. We use them in our GCP Quickstart Guide on our YOLOv3 repo:
https://github.com/ultralytics/yolov3/wiki/GCP-Quickstart

[code]

[2019-04-17 23:23] mcarilli commented on #259
Following https://medium.com/giscle/setting-up-a-google-cloud-instance-for-deep-learning-d182256cb894, maybe the solution is as simple as using `pip3 install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" .` instead of `pip install ...`  Before February, Apex served primarily as a research/internal toolkit.  The growth in popularity was been a (pleasant) surprise.  I on

[2019-04-18 01:10] rwightman commented on #258
This is my eval loop, running under a with CM

https://github.com/rwightman/pytorch-image-models/blob/master/train.py#L389

[2019-04-18 08:30] Lausannen opened #260 "Multi Node Distribute Training"
I want to know if apex supports multi-node GPU distribute training , I follow pytorch Document to use distributed.initilize(). In my case, I have two nodes, each node has 4 GPUs. I use the following command:
In node 0: python -m torch.distributed.launch --nproc_per_node=$NGPUS --master_port=2345 --nnodes=2 --node_rank=0 --master_addr="192.168.0.1" tools/train_net.py
In node 1: python -m torch.dist

[2019-04-18 09:44] frankang commented on #249
thanks! I will close this issue temporarily. Will let you know if your suggested method works in the future.

[2019-04-18 09:44] #249 closed

[2019-04-18 11:10] ptrblck commented on #242
I could reproduce this issue and am currently looking into it. ;)

[2019-04-18 14:58] glenn-jocher commented on #259
@mcarilli thanks, the change worked. The line I used to successfully install is:
[code]

Unfortunately after install the apex module can be found, but not amp:
[code]

[2019-04-18 15:11] mcarilli commented on #259
This may be an artifact of where you tried to run `import apex` (from one level above the apex repo directory).  I think when you say `import apex` from `~`, Python is attempting to import the cloned repo directory called `apex` which is obviously not the right thing.

Try this, starting in the apex repo directory:
[code]
should show where the files are being imported from, which should be some sy

[2019-04-18 15:18] EthanZhangYi opened #262 "SyncBN raise ERROR when count = 1"
It is right that BN layer in `torch.nn` raises error when `count = 1` (only 1 value per channel).

However, for SyncBN layer, even that `count = 1` for one GPU, it should NOT raise the error when `mean` and `var` are synchronized across multiple GPUs.

https://github.com/NVIDIA/apex/blob/cd2708ccdb66e15c94564e3f608a44aaa5d6a4ab/apex/parallel/optimized_sync_batchnorm_kernel.py#L29-L30

[2019-04-18 15:41] glenn-jocher commented on #259
@mcarilli ah yes you are right! It was importing from the cloned repo. After I removed the `/apex` repo it would not longer `import apex`.

I'm starting to think this is a conda install issue (the GCP Deep Learning VMs use Anaconda 3.7). From [these directions on installing non-conda packages](https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-pkgs.html#installing-non-
conda-pa

[2019-04-18 22:16] mcarilli commented on #259
Hmm, if I try this on my local machine, it appears to install to the correct location:
[code]

[2019-04-19 06:29] zimenglan-sysu-512 commented on #95
hi @mcarilli
how to use `some cuda 8-specific workarounds` for the `shfl` ops?

[2019-04-19 15:50] jshanna100 commented on #114
Just want to mention that I needed to use "default_optimizer_step == optimizer.step" instead of "default_optimizer_step is optimizer.step"

I didn't look into it, but I presume this has to do with my using multiple loss_ids.

[2019-04-19 17:14] joaobelo92 commented on #227
I'm experiencing faster training on resnet50 using DataParallel and O1 over DistributedDataParallel and O2.

Any idea why DistributedDataParallel is slower, or how to understand where the bottleneck is?
I'm training on a machine with 2 RTX2080 ti

[2019-04-19 17:24] joaobelo92 commented on #227
DataParallel with O1 is training faster than the imagenet example using DistributedDataParallel and O2 with resnet50 in my machine (it's even slower than the example on the pytorch repo without amp...). Any idea why this is happening and how I can understand what's wrong?

My machine has 2 RTX2080ti. Thanks in advance!

[2019-04-19 18:41] glample opened #264 "multiple optimizers"
Hi,

I'm working with the following setting where I have:
- a model on fp16 with fp16 apex optimizer O1
- a float32 parameter which is used in the forward path of my model, with a non-apex optimizer

I'm wondering how I could do the optimization here. From what I understand, I cannot do a regular O2.step() because the parameters in O2 will be scaled by the loss scaling coefficient, right? Is there

[2019-04-21 08:01] LightToYang opened #265 "strange error when distributed training"
I used torch.nn.parallel.DistributedDataParallel for distributed training, and the following error occured.
After switching to apex.parallel.DistributedDataParallel, the error disappeared.

The situation happens when I use the mix-precision imagenet pre-trained model (O1) as backbone.

[code]

[2019-04-21 08:01] LightToYang commented on #265
[code]

[2019-04-21 20:30] glample commented on #243
I'm also very interested in the sparse feature. @azgo14 how did the PR help in your case? Apart from checking the overflow on sparse gradients, did you observe that the parameters (even other than embeddings) were not SYNC without the `self._has_overflow = bool(overflow_result.cpu().item())` ?

Also, how did you handle the mix sparse / float16? Do you just provide to apex.init 2 models with 2 opti

[2019-04-21 20:52] mcarilli commented on #264
What do you mean by a "non-apex optimizer O2"?  O2 is specific to Apex (amp).

[2019-04-21 20:57] mcarilli commented on #260
Yes, apex should work with Pytorch's native multinode training (as described [here](https://pytorch.org/docs/stable/distributed.html#launch-utility), which i assume was the documentation you were following).  Is $NGPUS here an environment variable set to 4?

Also, `master_addr` should be the IP address of mode 0 on the network, so that is worth double-checking.

[2019-04-21 21:25] glample commented on #264
Sorry I just meant a non-apex optimizer here. It's a bit related to https://github.com/NVIDIA/apex/issues/243: overall I want to do sparse updates on a float32 parameter, and have the rest of the model on fp16, but since apex does not support sparse I want to perform the updates manually on my float32 tensor (using regular sparse PyTorch optimizer)

But I'm afraid about mixing apex/non-apex optimi

[2019-04-22 01:34] glample commented on #265
I believe this errors means that some of the parameters in your network are not used to compute the loss function. As a result, their gradients become None, but PyTorch distributed expects each process to provide gradients for each parameter at each time step, so you get an error.

Note that this was not raising any error in PyTorch 0.4, but it raises an error in PyTorch 1.0. In the next PyTorch t

[2019-04-22 05:06] LightToYang commented on #265
@glample  Thank you. After I get rid of the unused parts,  `torch.nn.parallel.DistributedDataParallel` seems work alright.

[2019-04-22 05:13] LightToYang opened #266 "memory usage different between torch.nn.parallel.DDP and apex.parallel.DDP"
When I use torch.nn.parallel.DDP with O1, the memory usage is about 9800MB on my RTX2080Ti.

However, when I replace torch.nn.parallel.DDP with apex.parallel.DDP without any other changes, the memory usage is about 5000MB, which is far much less.

Is this situation normal?

[2019-04-23 06:49] DinghaoZhang opened #267 "error: class "at::Type" has no member "scalarType""
I can't setup this, error is:
    csrc/type_shim.h(13): error: class "at::Type" has no member "scalarType"
    1 error detected in the compilation of "/tmp/tmpxft_00004318_00000000-6_multi_tensor_scale_kernel.cpp1.ii".
    error: command '/usr/local/cuda/bin/nvcc' failed with exit status 1
who know how to fix it?

[2019-04-23 11:20] ptrblck commented on #267
Which PyTorch version are you using?
You can check it with `python -c "import torch; print(torch.__version__)"`

In case your PyTorch version is older than `0.4`, you should update it using the install instructions given on the [PyTorch website](https://pytorch.org/get-started/locally/).

[2019-04-23 14:26] Stonesjtu commented on #267
The master branch of pytorch  now  does not support cpp-extension due to a breaking change, you should check out to release version.

[2019-04-23 14:43] ptrblck commented on #267
@Stonesjtu Could you post a link to the issue if possible?

[2019-04-23 15:23] Stonesjtu commented on #267
@ptrblck Sure, Check this out : pytorch/pytorch:#17991.

[2019-04-23 15:50] ptrblck commented on #267
Thanks for letting us know! :)
I'll take a look into this issue so that we can build again from PyTorch master.

[2019-04-23 22:53] pietern commented on #243
Doing mixed CPU/GPU models with sparse gradients should in theory be possible with https://github.com/pytorch/pytorch/pull/19443. Could you give it a try and see if it works for you?

@mcarilli The sparse allreduce is only implemented for the gloo backend (both for CPU and CUDA tensors) in this set of PRs but it wouldn't be a stretch to copy the implementation for NCCL / sparse CUDA tensors.

[2019-04-23 23:08] mcarilli commented on #243
@pietern Great, thanks for the heads up!

Gradient inf/nan checking will also require some additional code changes (by additional I mean implemented by me on top of this PR) on the Amp side for code paths with cpp extensions enabled.  It's totally doable, but I'm really busy right now with other commitments ([better treatment of FusedAdam](https://github.com/NVIDIA/apex/tree/prepare_fused), as wel

[2019-04-24 02:17] seongwook-ham opened #269 "dataparallel need to work on apex"
similiar to #227
i already check that distributed data parallel works well.
but in my case where dataset is large(>200GB) and using multigpu(8gpu)
distributed dataparallel need at least 1.6TB. am i right?
i have only 512GB ram. so i need to use data parallel.
in same code dataparallel without apex works normally.
also  distribued dataparallel with apex works normally.
but dataparallel with apex th

[2019-04-24 02:43] mcarilli commented on #227
Historically we only test with DistributedDataParallel because performance tends to be better, but the dataset sharing issue raised by @seongwook-ham in https://github.com/NVIDIA/apex/issues/269 is a compelling use case.  I'll tag this and @ptrblck and I will look into it.  Current to-do list is better fused optimizers, checkpointing, sparse gradients, and then DataParallel, so it may be a couple

[2019-04-24 02:43] mcarilli commented on #269
Deduplicating to https://github.com/NVIDIA/apex/issues/227

[2019-04-24 02:47] mcarilli commented on #264
In general, I don't want people to run optimizers that haven't been passed through amp.initialize.  We plan to support sparse gradients in Amp soon.  Closing because https://github.com/NVIDIA/apex/pull/252 and https://github.com/NVIDIA/apex/issues/243 are tracking this.

[2019-04-24 02:47] #264 closed

[2019-04-24 02:51] mcarilli commented on #265
This is (or was) a known issue with torch.nn.parallel.DistributedDataParallel.  Recently, @pietern implemented some really nice changes in torch.nn.parallel.DistributedDataParallel that should enable your use case (https://github.com/pytorch/pytorch/pull/18953).

[2019-04-24 02:51] #265 closed

[2019-04-24 02:55] mcarilli commented on #259
Did you ever figure out why conda on GCP was installing to the wrong directory?  I'm not a conda expert so if you managed to resolve this issue it will be helpful for future users.

[2019-04-24 03:00] seongwook-ham commented on #269
Not duplicating
In my case O0 O1 O3 O4 are same

[2019-04-24 03:04] mcarilli commented on #269
Understood, sorry.  I'll keep these both open to track the issue.

[2019-04-24 07:41] pranav-ust opened #270 "Pybind11 not found"
Error:

[code]

Configuration:

Ubuntu 18.04, CUDA 10.1, Pytorch 1.0.1, Python 3.6.7

Also tried to pip install pybind as well, still no luck.

[2019-04-24 07:54] pranav-ust commented on #270
Fixed. sudo apt-get install python3-pybind11

[2019-04-24 07:54] #270 closed

[2019-04-24 10:53] nikitamoriakov opened #271 "cuFFT in FP16, O2 optimization and patch_torch_functions"
Hi all, I am trying to use APEX for training a model that needs to perform fft on data with dimensions that are potentially not powers of two. Currently cuFFT doesn't support this operation for FP16, only for FP32.

In order to 'fix' this I added fft to the list of FP32 functions and then tried to pass an extra argument patch_torch_functions=True to the apex initializer with optimization level O2.

[2019-04-24 11:50] ptrblck commented on #271
Hi @nikitamoriakov,

are you using a custom module which is applying the cuFFT operation?
If so, I assume you've derived the class from `nn.Module` and implemented the forward (and backward) pass manually.
Is CUDA throwing an error is you pass FP16 inputs to the method?

Here is a workaround, in case you need a working approach now, but note that these changes are quite a hack and might break in f

[2019-04-24 13:27] glenn-jocher commented on #259
No, no luck. I created a blank PyTorch deep learning VM and tried again from scratch, but it's installing to a different python 3.5 rather than anaconda. It seems to be an anaconda issue, and unfortunately I'm not the best conda expert either. I think pip installs to conda are generally not always problem free, I've seen other repos with conda-specific install instructions.
`creating /home/ultraly

[2019-04-24 22:12] mcarilli commented on #267
Fix is in flight (https://github.com/NVIDIA/apex/pull/272), should be done in the next couple days.  We need to ensure backward compatibility with versions of Pytorch from 1.0 to present.

[2019-04-26 10:03] ychfan opened #273 "[Feature Request] Support for linux-ppc64le"
Hi, I'm a trying to use apex on linux-ppc64le machines. There is no error when compile and install. However, it still falls back to python mode with the error:
[code]

Thanks!

[2019-04-26 10:37] ptrblck commented on #273
Hi,

are you running your code from the `apex` directory? If so, could you change the directory and try to run it again?
I assume you've built apex with the `--cuda_ext --cpp_ext` arguments?

[2019-04-26 15:45] ychfan commented on #273
I am running my code which imports `apex`. It runs smoothly on `linux x86_64`.
I install apex with
`pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" .`
And there is no error and returns `Successfully installed apex-0.1`

[2019-04-26 16:17] #267 closed

[2019-04-26 16:57] mcarilli commented on #262
@jjsjann123 can you take a look at this when you get a chance?

[2019-04-26 17:02] ptrblck commented on #273
Just would like to make sure we are not searching at the wrong place:
* did you install apex before on that machine? If so, could you delete all apex installations and try to reinstall it?
* did you change the working directory after building apex?

[2019-04-26 19:16] ychfan commented on #273
* To reproduce the error, I tried to create a clean conda environment but the error is still there.
* I running my code whose directory is independent with apex directory

[2019-04-26 19:22] ychfan commented on #273
The file `lib/python3.6/site-packages/amp_C.cpython-36m-powerpc64le-linux-gnu.so` exists in my conda env. So I think the pip install procedure is all right.

[2019-04-27 07:21] ychfan commented on #273
I tried to run
[code]

[2019-04-27 08:43] lemonhu opened #276 "Installation failed"
I use the following commands to install `apex`, but failed.

$ cd apex
$ pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" .

The error message is as follows：
[code]
I refer to the [reply](https://github.com/NVIDIA/apex/issues/247#issuecomment-480904902) of the issue #247, but still failed. Thanks for your reply.

[2019-04-27 11:13] ychfan commented on #273
I solve the problem by compile apex with gcc5. I'm using RHEL7 which come with gcc4. Is it possible to make apex support gcc4?

The problem is very similar to [link](https://discuss.pytorch.org/t/undefined-symbol-when-import-lltm-cpp-extension/32627).

[2019-04-28 02:15] seongwook-ham commented on #276
Successfully installed apex-0.1?
which message does mean fail?

[2019-04-28 05:50] npmhung opened #277 "Training Float32 model and Half model simultaneously"
Hi,
As stated in the title, I want to train my network including model 1 and model 2.
For model 1, I can train it using the half precision. However, for model 2, because sometimes I have to perform sum operation over the feature maps, the fact that makes it easy to go overflow. Therefore, I want to keep training that under float32.
Does apex support this kind of training?

[2019-04-29 00:51] EslamJamal opened #278 "Building error(Due to gcc version)"
[code]

[2019-04-29 03:49] lemonhu commented on #276
I tried again, the bug information is as follows:
[code]

[2019-04-29 11:16] nikitamoriakov commented on #271
Hi @ptrblck,

Thanks for the advice! I need to call `torch.fft` and `torch.ifft` in a forward pass of a module, and ensure that it works with data of non-power-of-two dimensions. So I am now doing the following quick fix:
`target = torch.ifft(source.float(), 2).type(source.type()) `
This works fine with O2 optimization and gives me the memory savings I want.

Am I correct assuming that APEX with O

[2019-04-29 11:21] ptrblck commented on #278
Hi @EslamJamal,
it looks like you are using CUDA9.0. Could you check the GCC support for your distribution [here](https://docs.nvidia.com/cuda/archive/9.0/cuda-installation-guide-linux/index.html)?
E.g. if you are using Ubuntu 16.04, you should use GCC 5.3.1.

[2019-04-29 11:24] ptrblck commented on #276
@lemonhu Are you using CUDA8? Your issue might be related to [this one](https://github.com/NVIDIA/apex/issues/95).
Would you be able to update your CUDA version, if that's the case?

[2019-04-29 11:27] EslamJamal commented on #278
@ptrblck,
I am using Ubuntu 18.04 which does not appear in the distribution support in CUDA 9.0.
What should I do now? :(

[2019-04-29 11:29] ptrblck commented on #278
Could you try to update CUDA to 10.1 or do you need to use CUDA9.0 for a certain reason?

[2019-04-29 11:36] EslamJamal commented on #278
Unfortuanlty, I cannot because this is a server and I do not have a privileged access and many users also use CUDA 9.0

[2019-04-29 11:40] ptrblck commented on #278
OK, in that case, which GCC version are you using? I assume you are using GCC `7.3.0`?
As far as I know CUDA9.0 should be supported on Ubuntu 18.04 with GCC6.
Could you install it or would it also break your server setup?

[2019-04-29 11:46] EslamJamal commented on #278
I think I can do it, but would it crash with other environments? Some guys use Tensorflow for example.

[2019-04-29 12:32] lemonhu commented on #276
My server contains two versions of cuda8 and cuda10. The problem may be because I used the version of cuda8.
Thanks for your answer.

[2019-04-29 12:52] ptrblck commented on #277
Hi @npmhung,
I think you could use the context manager `with amp.handle.disable_casts()` to keep the critical model in FP32.
Here is a small example using this approach:
[code]
Note that if you remove the context manager and just run `critical_output = critical_model(x)` you will most likely see an output of `torch.tensor(-inf)`, since I've triggered an overflow in the forward method.

Would this

[2019-04-29 15:10] mpagli opened #279 "Error using fused adam: p_copy.type().is_cuda() ASSERT FAILED"
I have this error when using fused Adam:

[code]

I didn't have this error previously (with an older version of Apex). Any idea where this could come from?

Thanks for the great lib!!

[2019-04-29 15:16] ptrblck commented on #279
Hi @mpagli,

I assume you are using the latest master build for apex?
Could you post a small reproducible code snippet so that we could take a look into this issue?

[2019-04-29 15:23] mcarilli commented on #279
Also, can you give us the commit hash that you're using when you see this error?  If possible, can you also give us the commit hash from the earlier version that worked?

[2019-04-29 15:25] mcarilli commented on #277
@npmhung Also, do you want to keep the entire model in fp32, or just the sum operation?  Because with opt_level="O1", Amp will carry out all sums in FP32 anyway.  It's possible that
[code]
is all you need to do.

[2019-04-29 16:30] ngimel commented on #271
You are correct, O2 does not trap function calls. O2 relies on the user to do all the necessary casts, so absent any action from the user, torch.softmax will be in fp16 with O2 optimization mode.

[2019-04-29 16:59] mcarilli commented on #259
Yes:
[code]

When I've had issues using pip installs in conda environments in the past, I've sometimes resolved them by explicitly running `conda install pip` within the conda environment before doing `pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" .` within the same environment.

[2019-04-29 17:38] mcarilli commented on #266
I'm not sure.  I would expect memory usage to be less if you're using `apex.parallel.DistributedDataParallel` with `delay_allreduce=True`, because then it doesn't create the flattened allreduce buffers until the end of the backward pass, at which time the entire backward graph has been freed, so there's more memory available.  With `torch.nn.parallel.DistributedDataParallel`, and `apex.parallel.Di

[2019-04-29 23:39] aalibey opened #280 "Build error with --cuda_ext --cpp_ext"
I spent the whole day trying to install the new apex extension without success. I was using the old one, then yesterday i wanted to upgrade. But I'm not able to install it.

I'm using Pytorch nighty with conda, with cuda100. I've tried with pytoch 1.0.1 and It did not work either.

This is what I get when I run the command from apex directory:
` python setup.py install --cuda_ext --cpp_ext`

Outpu

[2019-04-30 00:11] ngimel commented on #280
The reason is probably you are compiling apex with cuda 10.1, and your pytorch was compiled with cuda 10 (it says so in the warning). Cuda versions should match.

[2019-04-30 08:22] #276 closed

[2019-04-30 09:01] mpagli commented on #279
That's my mistake, I was sending the model to the GPU after building the optimizer. Sorry for the trouble.

[2019-04-30 09:01] #279 closed

[2019-04-30 12:51] SwagJ commented on #278
Hi,

@ptrblck I got exact same problem here. My CUDA version is 9.0 and gcc version is 5.4.0. I have my non-distributed training process working with these versions. So is versions error the reason I failed installing apex?

[2019-04-30 14:26] aalibey commented on #280
I downgraded nvcc to the corresponding version, And I still have the same problem.

I'm using arch linux, gcc 8 and cuda 10.

this is the output that I still get
[code]

[2019-04-30 16:50] mcarilli commented on #280
Hmm it looks like this is not a Cuda error, but rather, a purely C++ error.  It may be unrelated to Apex or even Pytorch for that matter:  https://bbs.archlinux.org/viewtopic.php?id=242682.  I'm not that familiar with arch linux unfortunately....

[2019-04-30 17:14] aalibey commented on #280
You're right, I had a problem with binutils, i downgraded from 2.32-1 tp 2.31.1-3
luckily Arch linux keeps versions in cache.

I've run this command to resolve the problem :
`sudo pacman -U /var/cache/pacman/pkg/binutils-2.31.1-3-x86_64.pkg.tar.xz`

[2019-04-30 17:14] #280 closed

[2019-04-30 18:03] mcarilli commented on #278
@EslamJamal @SwagJ
If you're on a Linux system but can't alter your bare-metal environment for fear of breaking other users, a Docker container might be your best bet (I just updated the Docker example [here](https://github.com/NVIDIA/apex/tree/master/examples/docker)).

[2019-04-30 22:37] SergeyMilyaev opened #282 "Performance with NVLink"
Hi everyone, we started testing 2080ti with Quadro NVLink bridge. We have a machine with 4 2080ti GPU cards. We connected the cards 2 and 3 with the NVLink bridge, while the cards 0 and 1 were left without bridge connection.
The output of nvlink status shows that everything is fine

[code]

[code]
I also checked p2p connectivity, its output below also seems to be fine.
[p2p_test.txt](https://githu

[2019-05-01 00:32] LinxiFan opened #283 "Comparison with PyTorch 1.1 SyncBN"
PyTorch just released v1.1, which includes improved DistributedDataParallel with SyncBN support: https://github.com/pytorch/pytorch/pull/14267

How does the native support compare to `apex.DistributedDataParallel` and SyncBN? Would love to see some benchmarks, thanks!

[2019-05-01 01:51] npmhung commented on #277
@mcarilli that's exactly what I need. I'm struggling with the overflow when performing the sum over the spatial dim of feature map. Hence, I tried to convert to float and half manually, but sometimes it still resulted in overflow problem.
@ptrblck this is great. With this context manager, I can make my model more flexible.

[2019-05-01 01:51] #277 closed

[2019-05-01 02:26] xyzacademic opened #284 "Install issue, GLIBC_2.14 not found."
Hello,

Since I am using university' server in which glibc version is 2.12, I installed a local glibc 2.20 for my pytorch.
When I am using pytorch, I have to write a alias and link the local glibc dynamic library to python.

alias python="$GLIBC_DIR/ld-2.20.so --library-path $GLIBC_DIR:/lib64:$LD_LIBRARY_PATH:/usr/lib64:$CUDNN_INCLUDE_DIR:$CUDNN_LIBRARY_PATH ~/Anaconda3/anaconda3/bin/python"

But

[2019-05-01 09:03] gcp commented on #96
Fixed in master + PyTorch 1.1.

[2019-05-01 09:03] #96 closed

[2019-05-01 09:03] gcp commented on #97
Fixed in master + PyTorch 1.1.

[2019-05-01 09:03] #97 closed

[2019-05-01 09:04] gcp commented on #104
Fixed in master + PyTorch 1.1.

[2019-05-01 09:04] #104 closed

[2019-05-01 09:36] jjsjann123 commented on #262
Thanks for reporting this.
Finally got some spare bandwidth and I'm looking at this right now.

[2019-05-01 10:02] jjsjann123 commented on #254
Sorry for the delayed response. Finally got some bandwidth and I'm looking at this right now.

[2019-05-01 12:30] SwagJ commented on #278
Hi,

I think I have the way of editing GCC. could you please tell, which is the right version to operate apex?

[2019-05-01 18:09] mcarilli commented on #278
It depends on your nvcc version.  You are using cuda 9.0, and the documentation for cuda 9.0 (https://docs.nvidia.com/cuda/archive/9.0/cuda-installation-guide-linux/index.html#system-requirements) says gcc 5.3.1 is appropriate.

Also, this is not Apex-specific, but should be helpful for all Cuda compilation.

[2019-05-01 18:17] mcarilli commented on #284
It appears the Pytorch binaries are trying to load GLIBC_2.14.  Maybe you should use local glibc 2.14 instead of 2.20?  I must admit I haven't tried something like this myself.

[2019-05-01 18:37] mcarilli commented on #277
@npmhung Note that this context manager only affects opt_level="O1".  Also, based on your what you've said so far, it's possible setting `opt_level="O1" is all you need to do, and you don't need to use the manual context manager at all.

Originally, I made a minor syntax error in https://github.com/NVIDIA/apex/issues/277#issuecomment-487624970.  I said
[code]
(forgot to close the braces on the lis

[2019-05-01 19:39] xyzacademic commented on #284
I have solved this problem. I open a shell of ubuntu16 docker image(you guys post on your home page), and install it correctly. But I did not try it with cuda and c++ extension. glibc version problem exists in many HPC system if their Linux system are old. And it seems glibc version lower than 2.20 is incompatible with python3.

[2019-05-01 19:39] #284 closed

[2019-05-01 20:15] mcarilli commented on #284
If you're in the Docker image, cuda and cpp extensions should work without trouble.  We test those regularly.  I recently updated the guidance for building Docker containers with Apex:  https://github.com/NVIDIA/apex/tree/master/examples/docker

[2019-05-02 11:43] jjsjann123 commented on #254
Tried it with our image net example. Python version should work fine with amp o2 now.

[2019-05-02 20:31] glample opened #286 "question about gradient accumulation"
I followed the steps described here: https://nvidia.github.io/apex/advanced.html?highlight=accumulate#gradient-accumulation-across-iterations to perform gradient accumulation.

I was expecting to have the same results when I train my model on 8 GPUs with 4 steps accumulation, and 32 GPU without accumulation (i.e. 2 settings with the same batch size), but this is not what I observed, i.e. accumulat

[2019-05-02 21:20] mcarilli commented on #286
Gradient accumulation is not considered a special mode by Amp.  The repeated calls to
[code]
are just doing their job, accumulating unscaled gradients from each backward pass into the .grad attributes of the parameters owned by the optimizer.  So if you are accumulating over 4 iterations, amp doesn't automatically divide by 4 for you.

[2019-05-02 22:01] mcarilli commented on #283
@jjsjann123 wrote both the Apex and Pytorch implementations.  I think the Pytorch implementation is likely better because it's integrated with the native C++ autograd machinery, and doesn't require any Python-side custom autograd Functions.  Jie, what do you think?

[2019-05-02 22:38] mcarilli commented on #282
That's strange.  We run with nvlink all the time and it's fine, much faster than standard PCIE connections.  Those Apex commands aren't running distributed training at all, I don't think.  You need to launch via
[code]
Typically setting CUDA_VISIBLE_DEVICES is not necessary (each process simply sets a device based on its --local_rank, which is appended to the argument list by the torch.distributed

[2019-05-02 23:54] yimjinkyu1 opened #288 "The performance difference between mix and fp32 in apex?"
I wonder the performance difference between mix and fp32?
Image/sec
Train or valid time

[2019-05-02 23:55] glample commented on #286
Got it, thank you!

[2019-05-02 23:55] #286 closed

[2019-05-03 00:23] ngimel commented on #288
Can you please be more specific?

[2019-05-03 00:38] mcarilli commented on #286
Please reopen if gradient accumulation still doesn’t behave as expected with manual averaging across iterations.  It shouldn’t be bitwise accurate with the 32 gpu case, but it should be pretty close and should train similarly.

[2019-05-03 04:43] seongwook-ham commented on #269
i also try torch.nn.parallel.DistributedDataParallel with 1node 8gpu but also there exist following  same error

Traceback (most recent call last):                                                                                      | 0/6747 [00:00<?, ?it/s]
  File "run_pretrain_amp.py", line 1265, in <module>
    main()
  File "run_pretrain_amp.py", line 1127, in main
    loss = model(masked_inpu

[2019-05-03 07:01] jjsjann123 commented on #283
@mcarilli at least that's our expectation. I don't actually have any benchmark data.

One exception is that apex::SyncBatchNorm supports NHWC layout (`channel_last = True`) and the kernel has pretty decent perf. But if your model doesn't do NHWC it doesn't make sense to adopt it :(

[2019-05-03 19:42] SergeyMilyaev commented on #282
@mcarilli , thank you for the reply. In my evaluations I used CUDA_VISIBLE_DEVICES , but I forgot to add the arguments you specified for distributed training.
For Test 3 with Apex and FP32 I increased the batch size to 96 and got 0.4 s. per batch for the cards 0,1 (without NVLink) and 0.375 s. for the cards 2,3 with NVLink.
For Test 4 with Apex and FP16 I increased the batch size to 192 and got 0.

[2019-05-03 20:43] mcarilli commented on #282
Good!  The batch size numbers I quoted were for a V100 with 16GB of onboard memory, so for your 2080Tis with (I believe) 11GB of onboard memory, the batch sizes you are using for FP32 and mixed precision are likely achieving decent saturation.

Typically I work on systems like
- DGXs where everything is connected via nvlink,
- DGX2s where everything is connected via nvswitch, or
- minimal desktop

[2019-05-04 09:39] lemonhu opened #289 "Grad overflow on iteration occurs frequently?"
Hi, Grad overflow on iteration occurs frequently in my experiments, and the result is always zero, what's going on? Tanks for your reply.
[code]

[2019-05-04 13:26] SergeyMilyaev commented on #282
@mcarilli , thank you for the provided answers!

[2019-05-04 13:26] #282 closed

[2019-05-05 04:31] Wowoho opened #290 ""torch.nn.Model" object has no attribute 'named_buffers'"
When I run apex.amp.initialize()
It tells me:
"torch.nn.Model" object has no attribute 'named_buffers'

[2019-05-05 04:35] #290 closed

[2019-05-05 04:35] Wowoho commented on #290
x

[2019-05-05 11:18] SwagJ commented on #278
@mcarilli
Hi,

so you mean that as long as the cuda and gcc versions are paired properly, apex will functioning well, right?
In this case, my environment should be good, besides gcc version compatibility problem, what other things could cause this? Do you have any idea? Thank you very much!

Best,

[2019-05-06 04:40] datduong commented on #278
I use this `conda install -c psi4 gcc-5` to update gcc. Then, I was able to install apex using the pip command shown in the readme.

[2019-05-06 07:09] SwagJ opened #291 "Apex Runtime Error: Broken pipe"
Hi,

The problem is that when I run the code it gives a broken pipe runtime error
During the installation of apex, i got the same warning for a couple of times: "cc1plus: warning: command line option ‘-Wstrict-prototypes’ is valid for C/ObjC but not for C++"
Although in the end, it showed that it's been successfully installed, will this possibly be the problem with broken pipe issue? If not, could

[2019-05-06 07:13] ptrblck commented on #291
Hi @SwagJ,

the warning is most likely unrelated to your problem. I think the broken pipe error might be a Python/multiproceesing issue.
Are you using multiple workers in your `DataLoader`? If so, could you try to run your code with `num_workers=0` and check if it's working?
If that's the case, you might need to add the if-clause protection as described [here](https://pytorch.org/docs/stable/notes

[2019-05-06 07:25] SwagJ commented on #291
Hi @ptrblck ,
Thank you very much for your reply! Previously, the num_workers is set to 8, now it is 0. Indeed, it fixed the problem with broken pip, but it raised error with address already existed. And I also, tried to add if-clause protection, but it doesn't work somehow. The command I used to run the code is the following:
export NGPUS=8
python -m torch.distributed.launch --nproc_per_node=$NGP

[2019-05-06 07:30] ptrblck commented on #291
In that case the broken pipe error might just have masked the real issue with the distributed launch.
Could you check, if old processes have not been killed properly and are still using the port as described in [this post](https://discuss.pytorch.org/t/multiprocessing-failed-with-torch-distributed-launch-module/33056)?

[2019-05-06 14:56] glample commented on #213
@mcarilli is the imagenet example working? I'm doing something very similar, but when I reload a pretrained model (trained with AMP and 02 optimization), the loss of my model is absolutely huge, something is wrong. When I evaluate the reloaded model though, I observe the expected results, so it seems that the reloading issue is only in the optimizer. I tried to reload just the model from my checkp

[2019-05-06 16:52] mcarilli commented on #213
Are you using FusedAdam, or torch.optim.Adam?  If you are using FusedAdam, can you try torch.optim.Adam instead, and see if the problem persists?  That would help us sandbox out some potential issues.

[2019-05-06 17:51] Tetratrio opened #292 "Adding new parameter groups to an optimizer"
Hey,

I am currently training a growing model that requires me to add new param groups to the optimizer at each growth. That is, I train the model for X iterations, then add a new layer. This is repeated around 5-10 times. Preferably I keep the state of the optimizer for the older param groups when adding a new one.

Now I want to run this with mixed precision.
When using amp, there seem to be two

[2019-05-06 18:43] glample commented on #213
No unfortunately I'm already using torch.optim.Adam. In case it helps, I also noticed that with O1 optimization the problem does not happen (sorry for not being able to provide a simple script to reproduce the issue).

[2019-05-06 20:28] mcarilli commented on #292
Are you adding layers by unfreezing them (ie by changing their requires_grad attributes from False to True, so that they begin to receive gradients) or via an `optimizer.add_param_group` call?

Amp should properly treat unfreezing or unfreezing (switching from requires_grad=True to False or the other way around) for any parameters as long as those parameters were seen by the optimizer's constructo

[2019-05-06 23:30] Tetratrio commented on #292
I am adding layers on the fly, but I should be able to construct the entire network if I make some changes in my code. This is the only time I have ever had the need for `add_param_group` and I can work around it anyway.

It is a feature I can live without but if you feel like adding it I would still use it. Maybe there are other types of more dynamically growing networks that need it?

[2019-05-07 03:46] roominforest opened #293 "How can I force a user defined function to running in FP32 with opt_level O1?"
Hi! @mcarilli. Thank you for your excellent work for training with fp16 method. But I have some questions when I use it with opt_level O1 in my recent work.
    The first thing I want to know is whether opt_level O1 means all the weights are kept in fp32 while running (by the means of handle in code,I suppose) in fp16 or fp32 according to the white list and black list.
    Secondly, how the opt_le

[2019-05-08 10:50] ptrblck commented on #289
Could you post the code you are using to initialize `amp`?
Are you using `DynamicLossScaler` manually?

[2019-05-09 01:33] xwjBupt opened #296 "module 'apex.amp' has no attribute 'initialize'?"
hi,this is my code,but it get an error shows:

AttributeError: module 'apex.amp' has no attribute 'initialize'

what  is the problem?thanks~
[code]

[2019-05-09 07:11] lemonhu commented on #289
The above problem is gone, but there is a new problem.
[code]

[2019-05-09 07:18] lemonhu commented on #289
Yeah, I used DynamicLossScaler manually, like this:
[code]
This should be a problem with my program. After several epochs, it recovered stability.

[2019-05-09 09:14] miguelvr commented on #296
I got this error as well. I solved it by cloning and installing in the root path of my repo.

This should be addressed nevertheless

[2019-05-09 09:52] miguelvr opened #297 "Mixed precision training slower than FP32 training"
I've been doing some experiments on CIFAR10 with ResNets and decided to give APEX AMP a try.

However, I ran into some performance issues:

1) AMP with pytorch's torch.nn.parallel.DistributedDataParallel was extremely slow.
2) AMP with apex.parallel.DistributedDataParallel was slower than the default training with torch.nn.DistributedDataParallel (no apex involved). For reference, normal training

[2019-05-09 10:46] ptrblck commented on #289
Thanks for the information!
`FP16_Optimizer` is deprecated and I would recommend to use the new API.
You can find some instructions in out [transition guide](https://nvidia.github.io/apex/amp.html#for-users-of-the-old-fp16-optimizer).

Let me know, if that solves the issue.

[2019-05-09 10:49] ptrblck commented on #296
@xwjBupt How did you install apex? Did you build it from source?

@miguelvr Could you explain how you solved it?
Did you build apex in another folder and had to move it to a specific location in order to work properly?

[2019-05-09 11:42] miguelvr commented on #296
I initially cloned apex to the folder where I keep all my git project and installed it there, with a conda env activated. With this setup I couldn't run `from apex import amp` from anywhere except this projects folder.

To solve the issue I moved the apex folder into my the project folder I was running and without needing to install it again, it now worked.

[2019-05-09 12:04] ptrblck commented on #296
Just to clarify, you can only import apex, if the apex folder is inside your current working directory?
If so, could you post some information about your setup (OS, Python version, CUDA version etc.) as I would like to try to reproduce this issue.

[2019-05-09 13:23] xwjBupt commented on #296
hi @ptrblck, i reinstall the apex from source and problem solved

[2019-05-09 17:28] mcarilli commented on #293
Yes, with opt_level O1, all the parameters (and buffers like batchnorm stats) are kept in FP32.  Batchnorm does not receive any special casting treatment different, it simply processes whatever activations inputs it is given, using its FP32 weights and buffers.

The activations may change type as they flow through the network.  For example, whenever they encounter a Tensor Core op like a GEMM or c

[2019-05-09 17:28] #293 closed

[2019-05-09 17:41] mcarilli commented on #297
If your network or batch size is small, you may be underutilizing the device, in which case there's not much for Amp to accelerate.  What kind of GPUs are you using?  Also, is Amp slower than normal training within a single process as well?

[2019-05-09 17:44] mcarilli commented on #213
I think it's because O2 uses explicit master weights, which are not being saved and restored properly.  We're aware of this and we're working on a solution for checkpointing that should enable all opt_levels to be saved and restored.  I'll ping this issue when it's merged.

[2019-05-09 17:46] miguelvr commented on #297
I ran the tests with 2x GTX 1080 TI and a batch size of 128 (so 64 per device)

[2019-05-10 05:10] zsef123 commented on #297
GTX 1080 TI have low-rate FP16 performance.

If you want to better performance with FP16, then must be using Volta architecture, or RTX series.

Check this topic https://devtalk.nvidia.com/default/topic/1023708/gpu-accelerated-libraries/fp16-support-on-gtx-1060-and-1080/

[2019-05-10 06:47] miguelvr commented on #297
Alright, I'll test it on a few V100

[2019-05-10 07:15] #296 closed

[2019-05-10 12:32] davidenitti opened #299 "ImportError: cannot import name rnn_compat"
When I import apex after the installation (finished with success) I get this error:
[code]
torch version 1.0.0.dev20190322
Python 2.7.15rc1
cuda 10

[2019-05-10 13:15] ptrblck commented on #299
Are you using `apex` as your working directory?
If so, could you change the wdir and try to import `apex` again?

[2019-05-10 13:54] davidenitti commented on #299
this is not the problem

[2019-05-10 14:40] ptrblck commented on #299
I could reproduce this error using Python `2.7.15` and as stated in the docs, we only support Python `>=3`.
Would it be possible for you to use a newer Python version?

[2019-05-10 15:58] davidenitti commented on #299
oh right, it might be this the problem.
thanks I'll check

[2019-05-10 16:35] mcarilli commented on #297
Yes, the 1080Ti was intended for gaming, so it has really low compute throughput for FP16 math.  You need a Tensor Core-enabled GPU (Turing or Volta) to get best results with mixed precision.

[2019-05-10 16:37] mcarilli commented on #291
I find the following command useful to clean up after distributed launches:
[code]
This will kill all Python processes, including dataloader subprocesses.

[2019-05-10 23:24] mcarilli commented on #259
Is it possible to use a Docker container on the gcp instance as a potential workaround?  There are several options for Docker containers in which we test the Apex install regularly:  https://github.com/NVIDIA/apex/tree/master/examples/docker

Even if Docker containers succeed, this does not alleviate the importance of having the bare-metal Apex install also work.  I'll consult some people who have

[2019-05-11 00:04] ngimel commented on #259
My guess that it's installing to a python 3.5 because it's using' OS's pip3 version 3.5, rather than conda's python 3.7, you can confirm by running `pip3 --version` and `python --version`.

[2019-05-11 02:04] seongwook-ham commented on #269
i find that old api(FP16_Optimizer) works well with nn.dataparalllel
i hope new api(amp) also works well with nn.dataparalllel

[2019-05-11 09:11] glenn-jocher commented on #259
@ngimel yes, you are correct! `pip` itself directs correctly to anaconda3/lib/python3.7, but pip3 is directing to a local python3.5.
[code]

@mcarilli so I understand the situation now
- `pip` attempts to install to the correct location (conda's python 3.7), but install fails
- `pip3` installs to an incorrect location (OS python 3.5), but is inaccessable from the conda env.

Yes, if you could get

[2019-05-11 11:39] USTClj commented on #121
Same problem. At first, I can use apex package well on level O1, but I add Stochastic weight averaging, this kind of problem appears.

[2019-05-13 13:50] seongwook-ham commented on #227
i find that old api(FP16_Optimizer) works well with nn.dataparalllel
if you need dataparallel, you could use it with FP16_Optimizer and model.half()

[2019-05-13 14:21] ptrblck commented on #121
@USTClj Could you post a code snippet to reproduce this issue?
I tried to reproduce it using `opt_level='O1'`, but it seems to work on my machine using:
[code]

[2019-05-13 15:04] jbohnslav opened #301 "BatchNorm RuntimeError: expected scalar type Half but found Float"
Thanks for all your great work. I've found that trying to keep batch norm in fp32 results in a RuntimeError. Here is the minimum example:

[code]

Here is the error message:
[code]
If I use `opt_level='O1'`, I get the error. If I use `opt_level='O3', keep_batchnorm_fp32=True`, I get the error. If I use `opt_level='O3', keep_batchnorm_fp32=False`, everything works fine (except that training results

[2019-05-13 15:16] ptrblck commented on #301
Hi @jbohnslav,
are you somehow manipulating the batchnorm parameters manually?
Based on your code I cannot see any difference to vanilla amp training.

Best,
ptrblck

[2019-05-13 15:31] jbohnslav commented on #301
Thanks for your quick reply! I'm not messing with any batchnorm parameters. In the error messages, you can see the bug occurs in the `feature_extractor` module. I define that as follows: `self.feature_extractor = SiameseTower(inplanes=inplanes)`. That module is defined here:

[code]
As you can see, there's no messing around with batchnorm parameters.

[2019-05-13 16:03] ptrblck commented on #301
Could you post a small executable code snippet?
I tried to reproduce this issue using your code, and wasn't sure which hyperparameters you are using.
[This script](https://gist.github.com/ptrblck/032c93816ccb1defb19222f1ab1951f6) seems to be working.
Could you check it and check for differences to your code?

[2019-05-13 17:12] buptorange opened #302 "Bilinear RunTimeError : Expected object of scalar type Half but got scalar type Float for argument #2 'mat2'"
Thanks for your great work!
I just used the codes in example:
`model,optimizer = amp.initialize(model,optimizer,opt_level='O1')`
and it turns out that

enabled                : True
opt_level              : O1
cast_model_type        : None
patch_torch_functions  : True
keep_batchnorm_fp32    : None
master_weights         : None
loss_scale             : dynamic
Training on  1  GPU(s)
lr =  1e-05
Ep

[2019-05-13 17:24] mcarilli commented on #227
Please don't use the old FP16_Optimizer API, that may break at any time.  It might already be broken.

In general, O1 is preferable over O2 anyway, so if that works with DataParallel currently, using DataParallel + O1 with the current API is a much better workaround than DataParallel + reverting to the old FP16_Optimizer.

We do want to support O2 + DataParallel but haven't gotten a chance to look

[2019-05-13 17:31] mcarilli commented on #302
I think this is because bilinear needs to be on the list of functions that take multiple inputs (aka PromoteFunctions).

[2019-05-13 17:37] mcarilli commented on #302
Please retry with the latest master
[code]
and reopen if the error continues.

[2019-05-13 17:37] #302 closed

[2019-05-13 17:58] mcarilli commented on #301
In your script samples above, which line is producing the backtrace you posted?  Is it coming from `bn1/bn2` in `BasicBlock`, or the `conv_bn_relu_downsample(planes)` in `residual_blocks`?  It appears you're using `conv_bn_relu_downsample` as an alternative to BasicBlock in `residual_blocks`.

[2019-05-13 18:09] jbohnslav commented on #301
Hey @ptrblck , Thanks for coming up with an executable version of my code. I ran your code example exactly, and got the same error message. Here it is:

[code]
@mcarilli, good catch, I didn't notice I had replaced `BasicBlock` with `conv_bn_relu_downsample`. It's a moot point, as @ptrblck's code sample fixed this. Furthermore, in the error message I posted above, you can see it's coming from `bn1`

[2019-05-13 21:15] mcarilli commented on #301
I installed current Apex master in both `pytorch/pytorch:nightly-devel-cuda10.0-cudnn7` and `pytorch/pytorch:1.1.0-cuda10.0-cudnn7.5-devel` from pytorch dockerhub, ran Piotr's minimal script, and did not observe any errors.

Based on the [release notes](https://github.com/pytorch/pytorch/releases), Pytorch 1.1's commit hash is [142c973](https://github.com/pytorch/pytorch/commit/142c973f4179e768164

[2019-05-13 21:29] ptrblck commented on #301
@mcarilli I'm running Python 3.7 on my machines and it's also working. If it helps, I could try to build the particular PyTorch commit and check again, as I've used some PyTorch nightly (~ a week old) for the test script.

[2019-05-13 21:47] mcarilli commented on #292
Adding layers on the fly is something that would be challenging to support for all opt_levels, since those layers might need to be casted.

Supporting `add_param_group` for optimizers would be easier.  I'll tag this to track it.

Initially constructing your model and optimizer with all the eventually-intended params visible, but some of them frozen (requires_grad=False), then sending them through

[2019-05-14 01:32] seongwook-ham commented on #227
yes new api o1 is significantly slower than old api with FP16_Optimizer and half in nn.dataparallel case.
in this case 1.41it/s  vs 2.4it/s. in same setting fp32 is 1.2it/s
also in apex distributed dataparallel case, o1 with adam is significantly slower than o1 with fusedadam
4.58 its/s vs 2.9 its/s
this tested is based on modified version of https://github.com/huggingface/pytorch-pretrained-BERT

[2019-05-14 03:26] USTClj commented on #121
When I try to train the network with frozen BN layers. I can continue to reload and train the net if I convert the BN layers to half manually.

[2019-05-14 07:32] wangxiaodong1021 opened #303 "Whether to support the conversion torchscript mixing accuracy"
Whether to support the conversion torchscript mixing accuracy?

`model.eval()

# An example input you would normally provide to your model's forward() method.
example = torch.rand(1, 3, 224, 224)

# Use torch.jit.trace to generate a torch.jit.ScriptModule via tracing.
traced_script_module = torch.jit.trace(model, example)
traced_script_module.save("model.pt")`

[2019-05-14 09:37] Antsypc opened #304 "Dose data_prefetcher() really speed up training?"
I used your Python code https://github.com/NVIDIA/apex/blob/master/examples/imagenet/main_amp.py#L256

My code is
- https://github.com/zhangpzh/maskrcnn-benchmark/blob/Falcon/tools/train_net.py
- replace this [for-each-loop](https://github.com/zhangpzh/maskrcnn-benchmark/blob/Falcon/maskrcnn_benchmark/engine/trainer.py#L57) by your `while True`
- pytorch: torch.nn.parallel.DistributedDataParallel

[2019-05-14 12:47] ptrblck commented on #121
I'm not sure to understand your use case completely.
Even if I freeze the affine parameters in all batchnorm layers, my code snippet still works.
Could you have a look at this [code](https://gist.github.com/ptrblck/e9a7e11384cbd92afea32c95a4e23a73) and tell me what I would have to change to reproduce your issue?

[2019-05-14 12:55] ptrblck commented on #301
@jbohnslav @mcarilli I could reproduce this error by disabling cuDNN (using `torch.backends.cudnn.enabled = False`).

@jbohnslav Could this be the issue? Are you disabling cuDNN (accidentally)?

[2019-05-14 16:03] jbohnslav commented on #301
Hello all, thanks so much for your help on this! I was not setting `torch.backends.cudnn.enabled = False`. However, it seems as though there was a problem with my cudnn installation. In trying to verify the installation, I couldn't find `cudnn.h`. According to [this comment on another issue,](https://github.com/tensorflow/tensorflow/issues/8264#issuecomment-285835099) the cause was the fact that I

[2019-05-14 16:03] #301 closed

[2019-05-14 17:59] mcarilli commented on #301
Great catch @ptrblck, this is a helpful gotcha to be aware of in the future.

@jbohnslav if you'll indulge us, I am curious about that 2X speedup.  Do you mean that (amp O1 or O2, cudnn enabled) is 2X faster than (amp off or O0, cudnn disabled/unavailable)?  If so, I am wondering how much of the 2X comes from enabling amp mixed precision and how much comes from enabling cudnn.  Could you try runni

[2019-05-14 21:08] jbohnslav commented on #301
@mcarilli,

Sure, I ran a few quick tests. I have a rather complex loss function with many components, therefore I'm listing training speed and inference speed. Training has forward pass, loss computation, backward pass, and optimizer step. Inference has only forward pass. Note that with `opt_level='O3', keep_batchnorm_fp32=True`, losses became `nan`.

| Experiment  | Train speed (fps)   |  Infere

[2019-05-14 23:09] ngimel commented on #259
I can't repro on the latest pytorch vm (`Pytorch 1.1 + fastai 1.0 (CUDA 10.0)`)
[code]

[2019-05-15 11:35] agemagician opened #307 "AttributeError: 'Adagrad' object has no attribute '_amp_stash'"
Hello,
I am trying to convert the transformer xl code from using the old fp16 api to work with the new api. In order to use the conservative mixed precision.
https://github.com/kimiyoung/transformer-xl/tree/master/pytorch

However, I always get the following error:
[code]

Any suggestion how I can fix this issue ?

Command:
`python train_apex.py         --cuda         --data /home/ubuntu/Downloads

[2019-05-15 12:30] ptrblck commented on #307
Hi @agemagician,

the `_amp_stash` attribute should be created after `amp.initialize` was called on the `optimizer`.
Based on your code, it looks like you are calling this line afterwards:
[code]
Could you check, if `_amp_stash` was is a registered attribute before and after this line is called?
This should work:
[code]

I'm not familiar with `horovod`, but this information might be a good starter

[2019-05-15 12:38] Tetratrio commented on #292
Hey, thanks for looking into this.
Should it be possible with opt-level 01? Would I need to do something more than adding the new param groups in this case?
I looked at constructing the entire network at the start, but it would require more time than I thought to refactor the code and I have not had enough time to take care of it yet.
Maybe I could instead use `add_param_group` as another type of

[2019-05-15 13:03] agemagician commented on #307
Hi @ptrblck ,

Thanks a lot for your fast reply.

You are correct. After Horovod the problem occurred :

[code]

But this is weird because the old api works fine.
Is there anyway to solve it from your side or it should be solved from Horovod side ?

In case not, Can I use the old api with "conservative mixed precision" mode ? and How ?

[2019-05-15 13:17] ptrblck commented on #307
Thanks for this information!
I wouldn't recommend to use the deprecated API.

I'm not really familiar with horovod, but would it be possible to use `apex.parallel.DistributedDataParallel` as a workaround?

Let me know, if that's not possible for your use case.

[2019-05-15 13:32] justusschock opened #308 "TorchScript Support"
Does Apex support `torch.jit.ScriptModule`s, traced modules and `torch.jit.script`s? From my understanding the underlying operation, which is patched, should be the same.

~~I'm mainly asking because a quick search showed me, that the [_initialize](https://github.com/NVIDIA/apex/blob/1c464b48472e32bdb752f77815502bffe0acd284/apex/amp/_initialize.py#L156) function only checks against `torch.nn.Modul

[2019-05-15 13:38] agemagician commented on #307
The data is textual data and if I used apex.parallel.DistributedDataParallel, I assume it is going to send  random batches or consequence batches into separate GPU.
This will not work because the model uses memory similar to LSTM, and If I didn't send batches in correct sequence, the model will not learn correctly.

With Horovod, I divided the dataset at the start into seperate parts where every p

[2019-05-15 13:53] agemagician commented on #307
Maybe one clarification that might help me.

Assuming I have batch size 128 and I used "apex.parallel.DistributedDataParallel" with 4 nodes, then it is going to divided the current 128 into 4 nodes where each node will get 32 batch, and during the next iteration the same order will be respected or not ?

If it will not change the way the batches is being processed and generate, then it will work o

[2019-05-15 16:30] mcarilli commented on #307
@ptrblck is right that you shouldn't use the old amp API.

`apex.parallel.DistributedDataParallel` and `torch.nn.parallel.DistributedDataParallel`, **when used with one GPU per process**, do not subdivide the input data batch that's seen by each process.  In other words, if you have batch size 128 **per process**, these DDP wrappers will not change the fact that each process accepts batch size 128

[2019-05-15 17:05] mcarilli commented on #304
It really depends on your model.  It's hard to tell the impact of non-overlapped dataloading, and if prefetching successfully overlaps, without looking at a visual profile.  For data prefetching to overlap, the source batch on the CPU must be pinned (in other words, the dataloader should receive the argument `pin_memory=True`).  Also, if your data batch is a custom type, you must write a `pin_memo

[2019-05-15 17:44] ngimel commented on #304
Yes, `data_prefetched` is really for speed-up, and users find it helpful https://discuss.pytorch.org/t/how-to-prefetch-data-when-processing-with-gpu/548/19. It might not help in your case if you are bottlenecked on other parts of input pipeline.

[2019-05-15 17:49] mcarilli commented on #291
Also, using 8 dataloader subprocesses per process is a lot in our experience.  We typically don't use more than 4, and we don't see a benefit beyond that.  Of course this depends on the number of cores on your system.  If you have a lot of free cores, it might be beneficial to increase the number of dataloader subprocesses.

Has this issue been resolved?  Can we close it?

[2019-05-16 04:05] mcarilli commented on #292
Merged https://github.com/NVIDIA/apex/pull/310.  If you pull and reinstall from the latest master, `optimizer.add_param_group` should now "just work" for any opt_level at any point during training.

However, Amp still requires that the models themselves be fully constructed with all intended parameters before they are passed through `amp.initialize`.  I don't see an easy workaround for that off th

[2019-05-16 05:42] agemagician commented on #307
Thanks a lot @mcarilli for the detailed explanation.

I have tried the second solution and unfortunately, it doesn't work.
Horovod optimizer doesn't have an underlying optimizer.
The propirites of Horovod are only:
[code]

I will try your first recommendation and I will update you if it did work.

[2019-05-16 10:35] SwagJ commented on #291
Yeah, it has been fixed, I think you are right. That is how I fix my problem. Thank you very much!

[2019-05-16 10:35] #291 closed

[2019-05-16 10:45] un-knight opened #311 "where is the definition of to_python_float()"
https://github.com/NVIDIA/apex/blob/4d325d2f25ec0c6a1e649ee2fee2170972f32c0a/examples/imagenet/main_amp.py#L352

I can't find the definition of `to_python_float()`

[2019-05-16 10:48] ptrblck commented on #311
It's defined in [apex/fp16_utils/fp16util.py](https://github.com/NVIDIA/apex/blob/4d325d2f25ec0c6a1e649ee2fee2170972f32c0a/apex/fp16_utils/fp16util.py#L176).

[2019-05-16 14:35] Msabih opened #312 "Building with cpp and cuda causes distrbuted to crash"
Hi,

I can successfully build and use python only apex however when I compile with cpp and cuda, the compilation is successful but the simple example crashes with the error.

subprocess.CalledProcessError: Command '['//bin/python', '-u', 'distributed_data_parallel.py', '--local_rank=0']' died with <Signals.SIGSEGV: 11>.

[2019-05-16 14:53] Msabih opened #313 "Is it possible to specify which GPUs to use"
Hi,

We have a use case where on a single machine, some GPUs are reserved for some tasks therefore we can only use certain GPUs for training. With DataParallel, its fairly easy to specify which GPUs to use however with DistributedDataParallel of apex, I am not able to find, how to specify this.

Could someone kindly help clarify this ?

[2019-05-16 16:05] mcarilli commented on #311
`to_python_float` really isn't necessary at all.  I think that was legacy code from a long time ago that I've kept because it isn't broken at all (it does the right thing for pytorch 1.0).  I'll probably change those calls to simply use `.item()` at some point.

[2019-05-16 16:05] #311 closed

[2019-05-16 16:08] mcarilli commented on #312
What version of Pytorch are you using?  Extensions should only be used with pytorch 1.0 and later. Also, are you referring to [examples/simple/distributed](https://github.com/NVIDIA/apex/tree/master/examples/simple/distributed), or something else?

[2019-05-16 16:17] Msabih commented on #312
@mcarilli
I am using 1.1.0 , yes I am talking about this example.

[2019-05-16 16:18] Msabih commented on #313
I figured out a way using CUDA_VISIBLE_DEVICES

[2019-05-16 16:18] #313 closed

[2019-05-16 16:20] mcarilli commented on #313
Yes, see https://github.com/NVIDIA/apex/issues/162#issuecomment-466133930 and https://github.com/NVIDIA/apex/issues/162#issuecomment-466144252.  Bottom line, this should work:
launch job 1
[code]
launch job 2
[code]

This approach should work with either `torch.nn.parallel.DistributedDataParallel` or `apex.parallel.DistributedDataParallel`.  The [simple distributed example](https://github.com/NVID

[2019-05-16 16:32] mcarilli commented on #299
Did updating python fix the issue?

[2019-05-16 16:39] mcarilli commented on #303
Support for jit tracing is still being tested.  Creating a traced module via `torch.jit.trace` within a script, then using that traced model within the same script, should work as long as you call
[code]
**before**
[code]
Beware, if the original model has any data-dependent control flow, that control flow will be ignored by the traced_script_module (but that's a limitation of all traced modules, i

[2019-05-16 16:46] mcarilli commented on #308
Amp interaction with the JIT is under investigation.  Eventually, we'd like the JIT itself to natively support mixed precision training, but this is a long term (several-month) effort.

[2019-05-16 17:02] Msabih commented on #121
@ptrblck @mcarilli I am getting the same error but strangely this error always comes after 1 training epoch. First epoch is always fine. Also this goes away if I use keep_batchnorm_fp32 = False.

[2019-05-16 17:25] williamFalcon opened #314 "PTX JIT compiler failed"
I installed as such:
1. pytorch 1.1.
2. torchvison 2.1
(both from conda -c python).

3. built apex.

And now I'm getting this error:
[code]

[2019-05-16 17:37] ngimel commented on #314
What is your environment, i.e. cuda version, nvidia driver version?

[2019-05-16 17:41] williamFalcon commented on #314
[code]

[code]

[2019-05-16 18:04] ngimel commented on #314
And driver version? Does pytorch w/o apex work? E.g. `python -c "import torch; a=torch.randn(3).cuda()"`

[2019-05-16 18:05] williamFalcon commented on #314
yes, it works without it.

[code]

[2019-05-16 18:20] #308 closed

[2019-05-16 18:23] justusschock commented on #303
Do you have any experience with using custom ScriptModules instead of tracing? We cannot call `amp.initialize` on the model this way. So it probably won't work correctly?

[2019-05-16 18:30] ngimel commented on #314
Your pytorch is compiled for cuda 10.0, your driver is cuda 10.0, yet your compiler (with which you compile apex) is 10.1. Your driver version is insufficient for this.

[2019-05-16 18:32] williamFalcon commented on #314
can I compile apex with 10?
do I need to compile pytorch with 10.1 ?

[2019-05-16 19:17] ngimel commented on #314
Please compile apex with cuda 10.

[2019-05-16 19:20] williamFalcon commented on #314
ok, how would I do that? is there a different flag?

[2019-05-16 19:22] ngimel commented on #314
You have to have cuda toolkit 10.0 installed somewhere on your system. `nvcc --version` should return 10.0.130 or something like this.

[2019-05-16 19:27] williamFalcon commented on #314
compile with this?

[code]

But which one do I use here: <path to cuda same version of the one installed by cuda>

[code]
or
[code]

[2019-05-16 19:42] williamFalcon commented on #314
solved... I found the cuda version by running:
[code]

Which gave me a bunch of options. I picked this one:
[code]

then finally compiled apex
[code]

[2019-05-16 19:46] #314 closed

[2019-05-17 01:36] un-knight commented on #311
I agree with you @mcarilli , and `item()` is exactly what I am using.

[2019-05-17 03:28] my-hello-world opened #315 "With cuda8.0.error: command '/usr/local/cuda/bin/nvcc' failed with exit status 2."
Hi,

I'm trying to building apex using 1.0.0 Pytorch and Apex masters,some information：

- $ gcc  --version
gcc (Ubuntu 4.9.4-2ubuntu1~14.04.1) 4.9.4
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

- $ nvcc -V
nvcc: NVIDIA (R) Cuda compiler drive

[2019-05-17 04:58] ngimel commented on #315
cuda 8 is not supported, there are no workarounds for this. Moreover, your pytorch is compiled with cuda 9, thus apex has to be compiled with the same cuda version.

[2019-05-17 04:58] #315 closed

[2019-05-17 05:16] my-hello-world commented on #315
@ngimel Thank you for your quick reply
my pytorch is compiled with cuda 9 in conda env.
After activating the environment,Which version of apex is compiled by default, such as the conda env cuda9 or the system cuda8?
I don't know what to do next.

[2019-05-17 09:38] agemagician commented on #307
Thanks a lot for your help.
The first method worked out perfectly.

[2019-05-17 09:38] #307 closed

[2019-05-17 10:40] ptrblck commented on #121
Hi @Msabih,

do you have a small code snippet to reproduce this issue?
I've posted some code in the last post, which is working fine for me.
If you don't have a code snippet ready, could you take a look at my code and compare it to yours, and let me know what I should change to trigger this issue?

[2019-05-17 10:45] ptrblck commented on #315
`apex` will be built with the system CUDA, so you should update it to CUDA9 to match the PyTorch CUDA version.

[2019-05-17 13:13] Antsypc commented on #304
@mcarilli @ngimel Thanks for your reply. I did some tests and again data_prefetcher() dosen't speed up. I find something I want to share with you.

`data_prefetcher()` here is designed to overlap sending data to GPU and GPU computation, right. So we can do gpu computation and send data to GPU parallel to save time.

But I think pytorch cuda impeletation that each device could execute only one oper

[2019-05-17 13:48] Msabih commented on #121
@ptrblck I figured out the issue for my case. The problem occurs if you are training and validating in one epoch and you call model.eval() in validation, for the next training iteration, the error occurs. The solution is to put model.train() in the beginning of training loop.

Could you in your script call model.eval() at the end of epoch and see if the error comes ? Then call model.train() and ch

[2019-05-17 16:30] mcarilli commented on #121
With opt_level="O1", when switching from train() to eval(), there used to be some strange errors that can result from the way Amp caches casts.  However, we fixed what we observed, and I actually have a test for that exact circumstance:  https://github.com/NVIDIA/apex/blob/master/tests/L0/run_amp/test_cache.py#L70.  However, this test does not use batchnorm.

What opt_level are you using?  And can

[2019-05-17 18:58] mcarilli commented on #304
By default, Pytorch enqueues all operations involving the gpu (kernel launches, cpu->gpu memcopies, and gpu->cpu memcopies) on the same stream (the "default stream").  Operations on the same stream are serialized and can never overlap.  For two operations to overlap, they must be in different streams.  Also, for cpu->gpu and gpu->cpu memcopies in particular, the CPU-side memory must be pinned, oth

[2019-05-17 20:17] Msabih commented on #121
@mcarilli  I got the error regardless of the opt_level on both O1 and O2. As i said, the error was due to me not calling train() after eval() for the next epoch so its not really a bug. Although I think that as data parallel and single models works without explicitly calling train()( only calling eval()) so others may fall into the same mistake therefore its good to highlight this.

I will post th

[2019-05-17 20:47] tfwu opened #316 "a error in imagenet main_amp.py?"
in the train() function,  torch.cuda.synchronize() should be pulled out of the if-statement?

[2019-05-17 22:02] mcarilli commented on #316
No, because we don't actually need to synchronize with the cpu every iteration.  For performance purposes, it's better to sync with the host only on iterations when we print the loss, and we also use that opportunity to take a timing sample.

[2019-05-17 22:02] #316 closed

[2019-05-18 01:03] USTClj commented on #121
In my case, I exactly switch from train() in the training loop and fix the BN just after the train() in the training loop. I'll share my post a few days later.

[2019-05-18 08:53] YOKE opened #317 "Building Error"
Thanks for your great work! When I run

/usr/local/lib/python3.6/dist-packages/pip/_internal/commands/install.py:244: UserWarning: Disabling all use of wheels due to the use of --build-options / --global-options / --install-options.
  cmdoptions.check_install_build_global(options)
Created temporary directory: /tmp/pip-ephem-wheel-cache-qbetfqhb
Created temporary directory: /tmp/pip-req-tracker-b7t

[2019-05-18 10:06] glenn-jocher commented on #259
@ngimel I just checked on a new PyTorch 1.1 vm. This time I got a permission denied error:
`    error: could not create '/opt/anaconda3/lib/python3.7/site-packages/apex': Permission denied
`

so I tried to use `sudo pip install -v --no-cache-dir .` which installs without error, but to the incorrect python 2.7. So I still can not install apex to Anaconda 3.7.
`Copying apex.egg-info to /usr/local/li

[2019-05-18 12:42] #317 closed

[2019-05-18 14:17] mcarilli commented on #317
Hmm, did it end up working or not?

[2019-05-18 21:26] Tetratrio commented on #292
Hey, thanks for the quick implementation!

So there are no workarounds for specific opt levels such as 01 or 02 (I just need one of them)? I dont think my use case is very common, although there are some growing networks such as https://arxiv.org/pdf/1806.09055.pdf .
I don't think it warrants the large amount of work required to implement this functionality in apex.

If it was somehow possible to

[2019-05-19 05:05] YOKE commented on #317
Yes, It's the wrong version of cuda.

[2019-05-19 13:09] tfwu opened #318 "How to handle gradient overflow when training a deep model with mixed precision?"
Hi,  it is ok to train the model with fp32, but we would like to take advantage of the speed of mixed precision. Unfortunately, we got gradient overflow and then nan loss at the very beginning with both opt-level O1 and O2. Is there a good way to handle gradient overflow / underflow using apex? Thank you

[2019-05-19 21:50] ptrblck commented on #318
Hi @tfwu,
do you have a reproducible code snippet so that we can have a look?
The loss should not get NaN values, so this is an issue we would like to investigate.
If you are working with private data, we would just need the shapes and could possibly just use randomly initialized data.

Best,
ptrblck

[2019-05-19 22:36] mcarilli commented on #318
Occasionally seeing a message like “overflow detected, skipping step, reducing loss scale” is normal behavior with dynamic loss scaling, and it usually happens in the first few iterations because Amp begins by trying a high loss scale.

Seeing nan loss values (ie, the loss scalar resulting from the forward pass is nan or inf) is NOT normal, and indicates something has gone wrong.  As Piotr says, i

[2019-05-20 14:52] nlp520 opened #319 "RuntimeError: CUDA error: an illegal memory access was encountered (multi_tensor_apply at csrc/multi_tensor_apply.cuh:101)"
`File "../ptx/fit_extension.py", line 386, in _train_epoch
    scaled_loss.backward()
  File "/home/suiguobin/anaconda3/lib/python3.6/contextlib.py", line 88, in __exit__
    next(self.gen)
  File "../../apex/apex/amp/handle.py", line 125, in scale_loss
    optimizer._post_amp_backward(loss_scaler)
  File "../../apex/apex/amp/_process_optimizer.py", line 123, in post_backward_with_master_weights

[2019-05-21 00:46] mcarilli commented on #319
Do you have a minimal code sample that reproduces the error?  Also, what is your environment (which pytorch version, which cuda version)?

[2019-05-21 01:38] nlp520 commented on #319
compile:
torch.__version__  =  1.1.0
Compiling cuda extensions with
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2018 NVIDIA Corporation
Built on Sat_Aug_25_21:08:01_CDT_2018
Cuda compilation tools, release 10.0, V10.0.130
from /usr/local/cuda/bin
Pytorch binaries were compiled with Cuda 10.0.130
---------------------------------------------------

nvcc: NVIDIA (R) Cuda compiler driver

[2019-05-21 01:40] nlp520 commented on #319
I use the apex to train the bert and it produce error in
` with amp.scale_loss(loss, optimizer) as scaled_loss:
                scaled_loss.backward()`

[2019-05-21 12:13] phier77 commented on #317
how  to fix this problem@YOKE

[2019-05-21 12:26] ptrblck commented on #317
@phier77 Do you get the same warning?

If so, could you install the CUDA version locally matching the one used in the PyTorch binaries?

[2019-05-21 16:29] mcarilli commented on #317
@phier77 In @YOKE 's original build log from https://github.com/NVIDIA/apex/issues/317#issue-445695179, the setup.py output says:
[code]

So he was compiling Apex with cuda 8.0 on his system, but his Pytorch binaries were compiled with cuda 9.0, which shouldn't work.  (Technically, cuda 8.0 is also invalid because we only support cuda 9.0 or newer in general, but that's a separate issue).

The ver

[2019-05-21 16:38] mcarilli commented on #319
What optimizer are you using?  Also, how are you initializing Amp?

[2019-05-21 17:42] phier77 commented on #317
I have now installed apex 1.0 successfully.
 First ,try
 1.cd apex
 2.python setup.py install [--cuda_ext] [--cpp_ext]
 if [–cuda_exit] is illegal
 just type
 python setup.py install
 hope you'll succeed!

------------------ 原始邮件 ------------------
发件人: "mcarilli"<notifications@github.com>;
发送时间: 2019年5月22日(星期三) 凌晨0:29
收件人: "NVIDIA/apex"<apex@noreply.github.com>;
抄送: "savem_m"<947480844@qq.com>; "

[2019-05-22 13:50] vinhngx opened #320 "Using --keep-batchnorm-fp32 with --opt-level O1 results in error"
python main_amp.py -a resnet50 -j 20 -b 128 --opt-level O1 --keep-batchnorm-fp32 True /data/imagenet/images/

results in the following error:

`Traceback (most recent call last):
  File "main_amp.py", line 506, in <module>
    main()
  File "main_amp.py", line 153, in main
    loss_scale=args.loss_scale
  File "/opt/conda/lib/python3.6/site-packages/apex/amp/frontend.py", line 333, in initialize

[2019-05-22 15:03] ptrblck commented on #320
Hi @vinhngx,

thanks for letting us know about this issue.
It seems `keep_batchnorm_fp32` is undefined in this particular line of code so the PR should fix this issue and raise a proper exception.

However, for your use case just skip the `--keep-batchnorm-fp32 True` argument, as `opt_level = 'O1'` automatically patches batchnorm functions to run in FP32.

Let me know, if removing this argument fi

[2019-05-22 15:12] #320 closed

[2019-05-22 15:15] mcarilli commented on #320
Yes, it should raise an error in such a case, because using keep_batchnorm_fp32 in conjunction with O1 doesn't make sense.  However, it should have raised our error with an explanation, not a generic Python error.  PR #321 fixed the error message.

[2019-05-22 16:10] WrathOfGrapes commented on #290
@Wowoho Why did you close the issue?
Did you find any solution?

[2019-05-22 16:19] ptrblck commented on #290
@WrathOfGrapes
`named_buffers` was apparently indeed added after the `0.4.1` release.
Could you update PyTorch to the latest version as described in the [PyTorch website](https://pytorch.org/get-started/locally/) or do you need to use `0.4.1`?

[2019-05-22 16:46] WrathOfGrapes commented on #290
@ptrblck
I have a heavy project to adapt to pytorch 1.0, and I hoped I could avoid it.

I'm just confused, because the Apex documentation explicitly states that it supports pytorch >= 0.4.

[2019-05-22 20:10] petertarabawrai commented on #124
I see similar problem with same error message. What resolved this issue for me was to use 1 GPU instead of multiple GPUs. (no data - parallel). Now I can't have power of mutliple GPUs, but I can get to result. I am also using PyTorch.

[2019-05-23 14:13] mschmill commented on #170
Why was this closed? I just tried to install apex on a clean GCP gpu instance and it gets this error. Installing cryptacular with conda prior to apex does not work.

[2019-05-23 14:21] ptrblck commented on #170
@mschmill Do you get this error running the `setup.py` to install apex?
If so, could you please post the terminal output so that we can have a look?
I'm currently unsure how `cryptacular` is related to apex, as it's not a dependency.

[2019-05-23 14:59] mschmill commented on #170
I am attempting to install apex from pip:

[code]

[2019-05-23 15:01] mschmill commented on #170
is PyPi apex a completely different thing?

[2019-05-23 15:01] ptrblck commented on #170
Thanks for the information!
We don't have a `pip` package yet, and you are apparently trying to install [this apex library](https://pypi.org/project/apex/). Currently you would have to build apex using the install commands from [here](https://github.com/NVIDIA/apex#quick-start).

[2019-05-23 15:32] mcarilli commented on #292
I'll think about what it would take to make amp.initialize callable multiple times (with the same model or with new models).  It might be straightforward to implement for a restricted subset of model changes.

[2019-05-23 15:32] #292 closed

[2019-05-23 16:48] mcarilli commented on #124
@petertarabawrai Were you using DataParallel or DistributedDataParallel?

[2019-05-23 16:50] petertarabawrai commented on #124
torch.nn.DataParallel

[2019-05-23 17:26] Tetratrio commented on #292
I found an easy way to change my code to allow for use with apex so I am in no need of this feature. Although if you want to support dynamically growing networks it would be necessary. But the low amounts of these networks may not warrant the time it takes to implement for apex. Its all up to you!

[2019-05-23 18:03] mschmill commented on #170
Thanks for your help. Hopefully the next time someone makes this same mistake this will set them straight!

[2019-05-24 01:07] hackerekcah opened #324 "Does apex needs GPU with Tensor Core architecture?"
1. Does apex needs GPU with Tensor Core architecture?
2. I use Tesla K40, is it Tensor Core architecture? Can I use apex to speed up training?

[2019-05-24 02:47] fatmelon opened #325 "Mixed precision training slow"
Hi,

I'm trying to fine-tuning bert using [Bert fine-tuning](https://www.kaggle.com/yuval6967/toxic-bert-plain-vanila/log).

My problem is: after using apex, the GPU memory usage is reduced, but the training time is about 1.3 times before.

My GPU is V100(16G, CUDA9, CUDNN7), Pytorch version is 1.0.

Is it a problem with my hardware?

[2019-05-24 05:27] jkooh85 opened #326 "Building Error with cuda_ext"
Hi,

I am pretty new to ML and am following the instruction to install APEX. I am on GTX 1080, python 3.6.8, and torch 1.0.0.

Nvidia driver version is 410.79, and CUDA version is 10.0.

When I run the command below, I got these errors. Can you guys help me on this?

$ pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" .
UserWarning: Disabling all use of wheels

[2019-05-24 05:30] jkooh85 commented on #326
I have an appropriate nvcc installed as below.

(waveglow) jun1.oh@Pandora21:~/apex$ nvcc -V
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2015 NVIDIA Corporation
Built on Tue_Aug_11_14:27:32_CDT_2015
Cuda compilation tools, release 7.5, V7.5.17

[2019-05-24 06:02] #326 closed

[2019-05-24 06:05] kingder opened #327 "Why the caching logic only happens at FP32->FP16 cast?"
The utils.should_cache(x) returns true only when x is 'FloatTensor', it seems to me the cache only applies to fp32->fp16 cast, what about the other way around?

[2019-05-24 06:30] WrathOfGrapes opened #328 "Does Apex really support PyTorch 0.4.1?"
In Readme.md it says:

But sample code [examples/simple/distributed](https://github.com/NVIDIA/apex/tree/master/examples/simple/distributed) goes down with error `AttributeError: 'Linear' object has no attribute 'named_buffers'`, because `named_buffers` method of torch.Module was introduced after 0.4.1 version.

Is there any build, that supports pytorch 0.4.1? If not, at least maybe the readme.md

[2019-05-24 07:54] liangjiubujiu opened #329 "Installation Error: Disabling all use of wheels due to the use of --build-options / --global-options / --install-options."
I failed to install apex:
$pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext"
/home/usr/anaconda3/lib/python3.6/site-packages/pip/commands/install.py:194: UserWarning: Disabling all use of wheels due to the use of --build-options / --global-options / --install-options.
  cmdoptions.check_install_build_global(options)
How can I fix it and install apex successfull

[2019-05-24 08:42] hyunjaelee410 opened #330 "Error with custom normalization layer"
Hi, thank you for your great work.
I have a question regarding custom normalization layer.

Since all of the modules which is not
'isinstance(module, torch.nn.modules.batchnorm._BatchNorm) and module.affine is True'
will be converted to fp16, custom normalization layer such as batch-instance-normalization(https://github.com/hyeonseob-nam/Batch-Instance-Normalization/blob/master/models/batchinstanc

[2019-05-24 08:57] nlp520 commented on #319
I use the BertAdam optimizer and initialize the amp
self.model, self.optimizer = amp.initialize(self.model, self.optimizer, opt_level=opt_level)

[2019-05-24 09:14] juansensio commented on #329
Same issue here, installation without " --global-option="--cpp_ext" --global-option="--cuda_ext" " works.

[2019-05-24 09:46] ptrblck commented on #324
Hi @hackerekcah,

1. No, you can use apex with any GPU which uses CUDA9 or newer. Note that the PyTorch binaries ship with pre-built CUDA libs, which should match your CUDA system install.

2. Unfortunately not, since the Tesla K40 is based on the Kepler architecture. GPUs based on the Volta and Turing architecture should accelerate mixed-precision training. However, you could still use `apex` to

[2019-05-24 10:16] ptrblck commented on #328
Hi @WrathOfGrapes,

thanks for letting us know about this issue!
The `named_buffers()` call slipped in and creates the backward incompatibility.
I'll check what changes would be needed to successfully run with PyTorch `0.4` again.

[2019-05-24 11:41] ptrblck commented on #328
I've pushed a quick fix to this branch:
https://github.com/ptrblck/apex/tree/pytorch04

Could you pull it and test your code with it?

[2019-05-24 11:45] ptrblck commented on #329
Did you get any error message after this initial `UserWarning`?
The warning is normal if you specify the `--global-option` arguments.
Usually you'll see the build output afterwards and the statement `Successfully installed apex-0.1` before the clean up.

[2019-05-24 11:54] juansensio commented on #329
I was having a similar issue. The problem was that the new version of torchvision (0.3.0) installs pytorch 1.1, which is buggy. Going back to torchvision 0.2.2 (or pytorch 1.0.1) solves it for me.

[2019-05-24 12:05] ptrblck commented on #329
@juansensio
Did you get any errors? Also, did you just updated `torchvision` and couldn't install `apex` anymore?
I'm currently using PyTorch `1.1.0.dev20190502` without a problem. Which bugs did you see in PyTorch `1.1`?

[2019-05-24 14:53] mcarilli commented on #329
@liangjiubujiu I see the message

during normal (successfull) installs as well.  I don't think it's a problem.

I think your problem is that you're not telling pip to use the current directory as the source for the installation.  Your command (pasted from above) was
[code]
It should be
[code]

@juansensio Is this also the source of your issue?  I don't think pytorch 1.1 is buggy.  At least, we hav

[2019-05-24 15:12] #328 closed

[2019-05-24 15:14] mcarilli commented on #328
Please reopen if the PR did not fix your issue.

[2019-05-24 15:19] mcarilli commented on #327
The cache is only used when `opt_level="O1"`, because that's when you're casting inputs to functions on the fly, so if you have a particular weight that's used in multiple fp16/Tensor Core-friendly functions in the forward pass, Amp only needs to carry out that cast once, and can reuse the cached (fp16-casted) version of the weight for other fp16-friendly functions that use the same weight.

This

[2019-05-24 15:19] #327 closed

[2019-05-24 15:38] mcarilli commented on #319
Where are you getting BertAdam from?  As far as I know that doesn't exist in upstream.  Also what value are you using for opt_level?

[2019-05-24 15:46] mcarilli commented on #325
A single V100, or multiple?

[2019-05-24 15:58] #299 closed

[2019-05-24 15:58] mcarilli commented on #299
Please reopen if the problem continues with python 3+.

[2019-05-24 16:44] mcarilli commented on #312
I tried to reproduce this by installing Apex in the official 1.1 container (pytorch/pytorch:1.1.0-cuda10.0-cudnn7.5-devel) from [Pytorch dockerhub](https://hub.docker.com/r/pytorch/pytorch/tags).  Install via
[code]
succeeded and
[code]
ran without any problems.  Does your backtrace show any additional detail?  Also, can you report the output of `nvidia-smi` and `nvcc -V` in your environment?

[2019-05-25 07:23] fatmelon commented on #325
A single V100.
opt_level = "O1"

[code]

[2019-05-27 05:41] liangjiubujiu commented on #329
Thanks a lot, but I think the command you mentioned is the same as mine, what is the different between the two commands below?

I think your problem is that you're not telling pip to use the current directory as the source for the installation. Your command (pasted from above) was

pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext"

It should be

pip install -v

[2019-05-27 05:44] liangjiubujiu commented on #329
one more question： a new error occurred when I tried again" pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" "

pip._internal.exceptions.CommandError: You must give at least one requirement to install (see "pip help install")

[2019-05-27 05:53] liangjiubujiu commented on #329
Sorry to bother you again, The two commands above are the same,right?

I followed the three commands one by one:
$ git clone https://github.com/NVIDIA/apex
$ cd apex
$ pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" .
I can not install it again even if I use cuda 10.0.130 with  pytorch 1.1.0.

The error is:
UserWarning: Disabling all use of wheels due to the

[2019-05-27 13:12] ptrblck commented on #329
Note the dot at the end of the second command. Did you make sure to also include it in the build command?
You can ignore the `UserWarning`, as it's just a warning, not an error.

[2019-05-27 13:17] gbrow004 commented on #318
Is is normal to see many (~30) "gradient overflow, skipping step, reducing loss scale" messages on the first epoch? My dataset is pretty large (22 classes, 9M images total) and it didn't make is past the first epoch, after many hours, ie overnight. Granted, I'm only testing on a single RTX2070, but I thought it might have at least gotten to 2 by then. Is that unrealistic? On a tiny dataset, I get

[2019-05-27 13:28] fatmelon commented on #325
Update:

I try the code with a 2080Ti and docker, everything works fine. The memory usage is reduced and the training speed is also faster. I hope this helps to find the problem.

[2019-05-27 14:28] WrathOfGrapes commented on #328
@ptrblck Sorry for a late reply. Thank you, the fix solves problems with launching examples on PyTorch 0.4.1. Unfortunately there are some similar backward compatibility issues, when you try to add `apex.parallel.SyncBatchNorm` layer to your module.

Unfortunately, I don't have access to error logs right now, but they are caused by `apex.parallel.SyncBatchNorm` using post 0.4.0 pytorch functions.

[2019-05-27 14:49] mcarilli commented on #318
Do these messages appear consecutively, or are they spread out?  Amp occasionally tries to increase the loss scale, so for a really long epoch or run, there will be proportionately more messages.  Aside from a few (2-3) at the beginning of training, these should be isolated rather than consecutive.  If you are seeing 30 in a row, that is likely a problem, however.  Also, what is the range of loss

[2019-05-27 15:02] thuwyh opened #332 "'AmpOptimizerState' object has no attribute 'all_fp32_params'"
I initialized the model and optimizer with amp
[code]

and then I tried to add a group of params to the optimizer before training

[code]

I got the following error
[code]

System info:
Ubuntu 18.04, cuda 10.0.130, pytorch 1.1.0

[2019-05-27 16:50] Tetratrio commented on #332
I have the same issue, just tried the newly added feature of adding new parameter groups to an optimizer. Fails for the tested optimization levels O1 and O2. Same error for me as well for O1 while O2 gives me:
[code]

installed apex without extensions.

System info:
Ubuntu 16.04, cuda 10.0.130, pytorch 1.1.0

[2019-05-27 17:32] gbrow004 commented on #318
To be honest, I'm not sure if they are consecutive or not, but I don't think so. I'll let it run longer and see what happens. Thanks for the information. So far, here's the output:
[code]

[2019-05-27 20:13] mcarilli commented on #332
I think I know what's going on.  Amp relies on some internal stash that has knowledge of the parameters.  Typically this is silently lazy-initialized by the backward context manager, or an initial call to optimizer.zero_grad().

I anticipated that people would only want to add param groups later on in training, after many steps had already been taken and the lazy stash initialization had taken pla

[2019-05-27 21:25] mcarilli commented on #329
In `pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" .` the trailing "." is not punctuation.  It is a required argument to indicate the current directory.

[2019-05-27 22:22] glample commented on #250
@mcarilli do you have any ETA on this? I really think this is a critical feature. As of now, I cannot use AMP as it gives me the following divergence issues after checkpoint reloading:

![image](https://user-images.githubusercontent.com/8885556/58440948-4c237d00-80de-11e9-88fa-e9302218ebf0.png)

In that case experiments ended up recovering, but sometimes they never reach the performance they were

[2019-05-28 07:21] hackerekcah commented on #324
Thanks!

[2019-05-28 07:21] #324 closed

[2019-05-28 12:13] Tetratrio commented on #332
Hey,

I have tried doing a couple of iterations of training before calling `add_param_group` but still get the same error.
I have also tried calling `zero_grad()` on all optimizers after the amp initialization call but that does not solve the problem.

[code]

`param_group_opts` is just `{'betas': (0, 0.99)}`. I set the learning for all param groups at a later stage.

[2019-05-28 12:25] ptrblck commented on #318
Since the loss scale is being reduced to `4096` and `2048` several times, it had to be increased in-between, which means the gradient overflows did not occur consecutively.

[2019-05-28 13:23] Tetratrio commented on #332
@thuwyh
Quick workaround is to do the following:
[code]

[2019-05-28 15:14] thuwyh commented on #332
@Tetratrio
It works. Thank you!

[2019-05-28 21:21] mcarilli commented on #332
I just pushed a fix that ensures `add_param_group` will call `_lazy_init_maybe_master_weights()` if it hasn't been called already.  _lazy_init_maybe_master_weights is only intended to be called once (and never manually from the script side) so if you reinstall Apex, you should remove your `_lazy_init` call and `add_param_group` by itself should work anywhere.

[2019-05-28 21:21] #332 closed

[2019-05-29 01:24] gbrow004 commented on #318
Makes sense. Thanks, ptrblck! I guess I'll send it to the main GPU cluster and see what happens. It was going painfully slow on my single GPU testbed!

[2019-05-29 08:31] tatsuhiko-inoue commented on #319
I also encountered a similar error. I specified the default GPU for each process with torch.cuda.set_device(), and I was able to avoid this error.

[2019-05-29 16:15] mcarilli commented on #250
I agree it's a critical feature.  @ptrblck and I decided on a strategy then got preempted with a bunch of work debugging/optimizing some internal models.  I'm hoping to implement it next week, barring further interrupts...I'll keep you updated if that changes.

[2019-05-30 08:27] schinger commented on #131
if you have more than 1 gpu, just call this, everything will be ok:

model = torch.nn.DataParallel(model)

of course, you may need to call:  loss = loss.mean() before backward.

[2019-05-31 10:54] nikitamoriakov commented on #271
Thank you!

I would say that the question is closed.

[2019-05-31 10:54] #271 closed

[2019-05-31 23:55] Shiro-LK opened #335 "Windows 10 with anaconda, installation error"
Hi ,

I am trying to install apex on my windows 10.
I have installed currently anaconda with cuda 10 (cuda toolkit) and pytorch. That works well.
But when I launch the command  `pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" .` I get an error about NVCC not found.
Is there a way to install apex on windows10 using anaconda ?

[2019-06-01 13:19] dwaydwaydway opened #336 "installation error: 404 Client Error"
[code]

[2019-06-01 13:26] #336 closed

[2019-06-01 13:47] ldhai commented on #314
I use this command:`CUDA_HOME=/home/wys/anaconda3/pkgs/pytorch-1.1.0-py3.7_cuda9.0.176_cudnn7.5.1_0/lib/python3.7/site-packages/torch/cuda python setup.py install --cuda_ext --cpp_ext`
But it has error
![image](https://user-images.githubusercontent.com/9911239/58749291-cb39fc00-84b6-11e9-88a9-dbf9856e1623.png)
I hope someone can help me solve this problem.

[2019-06-02 02:35] seongwook-ham commented on #325
use cuda 10, it is much faster in tensorcore computation(2080ti)
and Pytorch binaries were compiled with Cuda 10.0.130 and why do you use cuda9? you should change instruction

[2019-06-02 14:47] svedi commented on #319
I haven't used Apex/AMP before, so maybe there is some user error here. That said, I also seems to get an error when using a device other than the default device. The code at the end gives me:

[code]

for opt_levels `O1` and `O2`. In particular, I do not seem to get an error for opt_level `O3`.

Version information:
 * Apex commit: `8be5b6bedead620db636516d064db39f82052e01`(latest commit when I i

[2019-06-03 09:04] vfdev-5 opened #337 "[Question] No __version__ attribute in apex package"
Hi, I was just wondering why there is no `__version__` in apex package to check the version (even 0.1).
Thanks

[2019-06-03 10:28] ptrblck commented on #314
@ldhai
PyTorch does not ship with the cuda compiler (`nvcc`), so you need to install the matching CUDA version on your system manually. Have a look at this [install guide](https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html).

[2019-06-03 10:31] ptrblck commented on #337
Hi @vfdev-5!
I think we should definitely add versioning to make debugging easier and to track new features in `apex`.
Thanks for the pointer! :)

[2019-06-03 18:20] ptrblck commented on #328
@WrathOfGrapes thanks for the information.
I ran into an issue on PyTorch `0.4.1` where the output of `SyncBatchNorm` is suddenly `None`.
Do you encounter the same issue or a different one?

CC @jjsjann123

[2019-06-03 18:30] mcarilli commented on #330
keep_batchnorm_fp32 is only relevant for opt_level O2.  When you observe 'RuntimeError: expected scalar type Half but found Float', does that occur with opt level O1, O2, or both?

[2019-06-03 20:40] dave-epstein commented on #192
Hey @mcarilli, was the FusedAdam optimizer ever implemented? If so - do you know what kind of speedup I might expect to see when using it vs the regular Adam? Thanks!

[2019-06-04 00:35] adonisues commented on #150
Hello. Is this issue not solved yet?
Is there any other way to change CUDA version?

[2019-06-04 01:46] hubutui commented on #150
I create a package for ArchLinux, see https://github.com/archlinuxcn/repo/blob/master/archlinuxcn/python-apex-git/PKGBUILD for how to build with the latest cuda & pytorch availabel in archlinux's official repo.

[2019-06-04 05:45] ldhai commented on #314
OK, thanks.

[2019-06-04 08:53] WrathOfGrapes commented on #328
@ptrblck Unfortunately, I gave up on running my project with Apex on Pytorch 0.4.1 :(
I was getting a lot of errors during various stages of my training process. Some of them were related to SyncBatchNorm (but not your particular one).

[2019-06-04 10:36] ptrblck commented on #328
@WrathOfGrapes Is your project working with apex on PyTorch 1.1 now or are you stuck somewhere porting your code?
Let us know, if we can be of any help getting apex to run.

[2019-06-04 10:47] WrathOfGrapes commented on #328
@ptrblck Yeah, I tried migrating to PyTorch 1.1, but Apex was still problematic to integrate. I was getting some "IllegalMemoryAccess" and some other CUDA-level errors (that I couldn't find in issues).

I have a pretty big model (for Automatic Speech Recognition) with distributed training, batch-norms and a lot of other stuff, so it's too difficult to localize and report reproducible errors. So I

[2019-06-04 10:56] ptrblck commented on #328
@WrathOfGrapes is the `IllegalMemoryAccess` error only thrown if you are using `amp` or always using your code in PyTorch 1.1 on a GPU?
In the latter case, you could try to run your code using
[code]
and check, e.g. if no values are out of bounds.

In the former case, we would need to reproduce this issue in order to debug it, so let us know, if you find some time for debugging and we'll have a lo

[2019-06-04 11:23] WrathOfGrapes commented on #328
@ptrblck The code runs fine without `amp`.

I'm hoping to find some time during this month to localize and summarize the issues for you.

[2019-06-04 15:03] mcarilli commented on #314
You should install a version of the cuda toolkit that matches the version used to compile your pytorch binaries.  You can query the latter via torch.version.cuda.  For example, if torch.version.cuda is 10.0.xyz, install a cuda 10.0 toolkit.

[2019-06-04 16:09] mcarilli commented on #335
This is probably not an Apex-specific issue, but rather, the Pytorch extension builder being unable to find nvcc.  Where is nvcc installed on your system?  Also, to determine if this error is Apex-specific or not, you can try building the Pytorch cpp extensions tests:
[code]

[2019-06-04 16:19] mcarilli commented on #192
Yes, but the better implementation is still in a side branch currently (https://github.com/NVIDIA/apex/tree/multi_tensor_sgd), and still only works with opt level O2.  This side branch also has a fused SGD optimizer that works for any opt level.  I still need to make the FusedAdam work with other opt levels, and add documentation for FusedSGD, before they can be merged (targeting next week)

I'm n

[2019-06-04 16:23] Sanidhya-Tyagi opened #338 "Unable to install tensorflow in anaconda"

[2019-06-05 01:57] hubutui commented on #150
Sorry, I double check the package from ArchLinuxCN repo, it's not fixed yet. You'll need to install pytorch 1.1.0 or any version that merged pr https://github.com/pytorch/pytorch/pull/18994. This pr detect C++ ABI flag for cpp extensions from available runtime information. If you use previous version, you need to set `-D_GLIBCXX_USE_CXX11_ABI` in `lib/python3.7/site-packages/torch/utils/cpp_extens

[2019-06-05 01:58] mcarilli commented on #325
Recently, I was helping optimize an internal version of BERT with @sharatht.  We're using Amp with `opt_level=O1`, so all GEMMs are patched to cast inputs and weights such that each GEMM itself runs in FP16 (the weights are stored in FP32, but cast to FP16 on entrance to `torch.mm` functions).  However, Tensor Cores additionally require that participating dimensions of a GEMM are multiples of 8 (o

[2019-06-05 06:33] wangyingyu opened #339 "RuntimeError: Unexpected optimization level 01. Option are '00' '01' '02' '03'"
When I made the following changes to the original code and reported this error, I don't know where the problem occurred. Can you give me some advice? Thank you.
`model, optimizer = amp.initialize(model, optimizer, opt_level="O1")
with amp.scale_loss(loss, optimizer) as scaled_loss:
    scaled_loss.backward()`

[2019-06-05 11:01] ptrblck commented on #339
Hi @wangyingyu,
could you check if you are trying to pass the `opt_level` as two integers (i.e. "zero one" `"01"`) instead of the expected uppercase O letter and 1 (`"O1"`)?

[2019-06-05 14:53] USTClj opened #340 "What is the main difference between Adam and FusedAdam?"
Is it necessary to replace the Adam optimizer in pytorch if we use opt_level=o1 ?

[2019-06-06 12:20] vfdev-5 opened #341 "[Bug/Feature] AttributeError: 'AmpOptimizerState' object has no attribute 'all_fp16_params'"
The following code:
[code]
gives the error
[code]

I agree that the problem is that `opt.zero_grad()` haven't called, but there are maybe some users who are using the above pattern, e.g.

https://gist.github.com/thomwolf/ac7a7da6b1888c2eeac8ac8b9b05d3d3#file-gradient_accumulation-py

HTH

[2019-06-06 12:54] ptrblck commented on #341
Hi @vfdev-5,

thanks for the report and the code to reproduce this issue.
The internal stash is missing, since the lazy init wasn't called yet.
Currently this is being done, if you call `opyimizer.zero_grad()` ([here](https://github.com/NVIDIA/apex/blob/a151575c6c0003d3c18ac299280274b9f7253fe1/apex/amp/_process_optimizer.py#L299)) or in the [prepare_backward_with_master_weights](https://github.com

[2019-06-06 13:40] ptrblck commented on #341
Just for clarification: the training will work using `model.zero_grad()` in a standard training loop:
[code]

However, I might have misunderstood the use case, as you are passing `t` to the optimizer, while the parameters of the model don't seem to be updated.
Are you planning on somehow setting the gradients manually, @vfdev-5?

[2019-06-06 15:46] mcarilli commented on #341
@vfdev-5 Thanks for the clean repro!  However, imo that code does not represent correct usage of Amp, because it‘s never calling a backward pass (it never calls with amp.scale_loss...).  The context-manager backward pass is an important part of the API contract, not just to implement loss scaling, but also because Amp in some cases (most cases actually) uses that opportunity to lazy-init each opti

[2019-06-06 15:48] #341 closed

[2019-06-06 15:59] sebastienwood opened #342 "Counting parameters"
Hi,
 this is not a bug but a feature request ! :)
since APEX manages by itself the ops precision, it would be great to have access to a summary of the number of bits that the APEXified model requires to run. Like `sum(p.numel() for p in model.parameters() if p.requires_grad)` in Pytorch, but taking into account the quantization that is used.

That would help to qualify on the go the gains in memor

[2019-06-06 17:25] mcarilli commented on #340
With current apex master, `torch.optim.Adam` should work with any opt_level.

However, `apex.optimizers.FusedAdam` only works with opt_level O2.  I'm working on fixing this, it's turning out to be tricky haha

I'll ping this issue once that's done.

[2019-06-06 17:25] #340 closed

[2019-06-06 18:40] mcarilli commented on #342
Unfortunately I don't think Amp has a good way to do this.  The memory high-water mark is usually not determined by the size of the parameter set itself, but rather, by the size of the fully-built graph just before `loss.backward()` (with lots of intermediate activations saved for backward).

I think the easiest way to evaluate GPU memory use is Pytorch's existing [memory management API](https://p

[2019-06-06 18:41] #342 closed

[2019-06-06 19:01] vfdev-5 commented on #341
@ptrblck @mcarilli  thank you for your answers! Piotrs' answer works for me. Actually my real use-case is in a unit-test of lr scheduler and the optimizer, that's why I do not have the loss function... When I discovered the error just wanted to make sure with you whether it is a bug or not :)

[2019-06-06 21:35] asifkhan2017 opened #343 "installation error"
**hi, I am getting this error  when i run this :**

home/taaj/.local/lib/python3.6/site-packages/pip/_internal/commands/install.py:244: UserWarning: Disabling all use of wheels due to the use of --build-options / --global-options / --install-options.
  cmdoptions.check_install_build_global(options)
Created temporary directory: /tmp/pip-ephem-wheel-cache-_0t355st
Created temporary directory: /tmp/p

[2019-06-06 22:58] mcarilli commented on #338
Apex is Pytorch-specific.  I'm not a Tensorflow guy so I'm not sure of the relevant documentation, but the following may be useful:
https://docs.nvidia.com/deeplearning/sdk/mixed-precision-training/index.html#tensorflow-amp
https://devblogs.nvidia.com/nvidia-automatic-mixed-precision-tensorflow/
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/experimental/mixed_prec

[2019-06-06 22:58] #338 closed

[2019-06-07 01:04] banahogg opened #344 "amp.initialize"
This code takes advantage of the optional optimizers initializer from #199

When optimizers are not present, the return type from amp.initialize is a scalar model when enable is True but a tuple when enable is False

[code]

Tested at 1dca16cc9c5 with pytorch 1.0 and torchvision 0.3

[2019-06-07 01:17] GH-HOME opened #345 "How to regist custom pytorch layer in apex"
Hi, I want to implement a custom layer to scale the gradient backward process. Here is my layer:
`
import torch

class Rebalance_Op(torch.autograd.Function):
    @staticmethod
    def forward(ctx, input, factor):
        ctx.save_for_backward(input, factor)
        return input * torch.tensor(1.0).cuda()

    @staticmethod
    def backward(ctx, grad_output):
        input, factor = ctx.saved_varia

[2019-06-07 03:39] Strideradu commented on #156
I cannot use pip to install apex, your method works for me

[2019-06-07 13:20] ptrblck commented on #344
Thanks for reporting this issue @banahogg!
I'll take a look at it.

[2019-06-07 14:49] see-- commented on #259
Using `--user` worked for me with python3. I guess that is what you get from using 3 different python versions.
[code]

[2019-06-07 15:13] glenn-jocher commented on #259
@see-- were you able to successfully install on a GCP VM?

[2019-06-07 16:00] ptrblck commented on #343
Hi @asifkhan2017,

most likely you are using an unsupported gcc for CUDA9 as shown [here](https://docs.nvidia.com/cuda/archive/9.0/cuda-installation-guide-linux/index.html).

Since you are using Ubuntu 18.10, you could try to compile CUDA10.1 using gcc 8.2.0 ([source](https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html)).

Let me know, if that solves this issue.

[2019-06-07 16:38] Shiro-LK commented on #335
Hi thanks for the response.
I finally found the issue, it seems that installing cuda with anaconda does not install nvcc. I install manually cuda and other thing without anaconda, then the installation of apex works.

Issue solved

[2019-06-07 16:58] mcarilli commented on #343
As Piotr said, cuda 9.0 is not compatible with gcc 8.3, based on the [cuda 9 install guide](https://docs.nvidia.com/cuda/archive/9.0/cuda-installation-guide-linux/index.html).

Instead of downgrading gcc, I recommend upgrading Cuda (to 10.0) and then also reinstalling the Pytorch pip or conda package to the cuda 10.0 version.  The reason I'm recommending cuda 10.0 rather than 10.1 is that Pytorch

[2019-06-07 17:00] mcarilli commented on #335
Good to know, thanks!

[2019-06-07 17:00] #335 closed

[2019-06-07 17:09] mcarilli commented on #344
@banahogg Good point.

[2019-06-07 17:09] #344 closed

[2019-06-07 22:31] enkhjile opened #347 "'FP16_Optimizer' object has no attribute '_amp_stash'"
Can't calculate backward pass on scaled loss using scale_loss context manager with more than 1 optimizers. No problem when there is only 1 optimizer.

Code:
[code]

Error:
[code]

[2019-06-07 22:41] mcarilli commented on #347
That's weird, I have pretty comprehensive test coverage of multiple models/optimizers/losses.
Can you post the code you are using to create the optimizer objects before they are passed through amp.initialize?

[2019-06-08 02:07] enkhjile commented on #347
@mcarilli
I've created 2 optimizers as following:
optimizer0 = optimizers.FusedAdam(model0.parameters(), lr=lr, betas=(beta1, 0.999), max_grad_norm=1)
optimizer1 = optimizers.FusedAdam(model1.parameters(), lr=lr, betas=(beta1, 0.999), max_grad_norm=1)

[2019-06-08 02:15] enkhjile commented on #347
@mcarilli
Actually I'm trying to train DCGAN with FP16.
I'm changed my code as follows and error still persists.

[code]
And backpropagating as:

[code]

[2019-06-08 02:50] enkhjile commented on #347
@mcarilli
Seems like I can't use list of FusedAdam optimizers in scale_loss context manager.
Got it working by changing it to normal Adam optimizers.

[2019-06-08 09:22] zongbingwang opened #348 "[Windows] Install error"
Hi ,
I am trying to install apex on my windows 10.
I have installed currently cuda 10 (cuda toolkit) and pytorch. That works well.
But when I launch the command pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" . I get below error.

Could you have a look about this?

fused_adam_cuda_kernel.cu
    C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\VC

[2019-06-08 18:21] gbrow004 commented on #75
I understand that they both have the same purposes, but are there any potential/theoretical  advantages to using the apex vs torch, aside from extra options? Performance/speed?

[2019-06-09 09:19] asifkhan2017 commented on #343
Thank you sir for your precious time and guidance.
i upgraded my Cuda to 10.1 and built Pytorch from source. its working perfectly

[2019-06-09 09:19] #343 closed

[2019-06-09 15:07] zongbingwang commented on #348
fixed by upgrade pytorch to 1.1.0

[2019-06-09 15:07] #348 closed

[2019-06-09 16:11] jtiscione opened #349 "Can't convert trained AMP model to full precision"
I have a basic benchmark test where I train a CNN on MNIST data with and without AMP. The problem is that I can't get the f16 types out of the model or export it to a CPU. Calling `float()` on the model doesn't seem to do anything.
[code]
This code prints the following:
[code]
Using mixed precision, the training time per batch went up 43%, but I can still increase the batch size now so that's OK.